<treasure-overlay-spinner active='spinner.active'>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Editar Video</h1>
</div>

<div class="wrapper-md">

  <div class="panel panel-default">
    <div class="panel-body">
      <form name="entryForm" class="form-horizontal" class="form-validation" novalidate>
        <div class="form-group">
          <label class="col-sm-2 control-label">Video</label>
          <div class="col-sm-8">
            <small>( https://www.youtube.com/watch?v=<b style="font-size:15px;" >RZRAcF5loBA</b> )</small>
            <input type="text" class="form-control" ng-model="video.url" required>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-dark" ng-click="edit(video,file)" ng-disabled="entryForm.$invalid">Enviar</button>
          </div>
        </div>
      </form>
      
    </div>
  </div>

</div>
</treasure-overlay-spinner>


