<treasure-overlay-spinner active='spinner.active'>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Editar Home</h1>
</div>

<div class="wrapper-md">

  <div class="panel panel-default">
    <div class="panel-body">
      <form name="entryForm" class="form-horizontal" class="form-validation" novalidate>
        <div class="form-group">
          <label class="col-sm-2 control-label">Título</label>
          <div class="col-sm-8">

            <div class="row" >
              <div class="col-md-6">
                <label class="control-label">Español</label>
                <input type="text" class="form-control" ng-model="slide.title" required></textarea>
              </div>
              <div class="col-md-6">
                <label class="control-label">English</label>
                <input type="text" class="form-control" ng-model="slide.title_en"  required></textarea>
              </div>
            </div>

          </div>
        </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Subtítulo</label>
          <div class="col-sm-8">

            <div class="row" >
              <div class="col-md-6">
                <label class="control-label">Español</label>
                <input type="text" class="form-control" ng-model="slide.subtitle" required></textarea>
              </div>
              <div class="col-md-6">
                <label class="control-label">English</label>
                <input type="text" class="form-control" ng-model="slide.subtitle_en"  required></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Posición</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="slide.position" required>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">link</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="slide.link" required>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Imagen</label>
          <div class="col-sm-6">
          <p>Tamaño recomendado 1280x720</p>
           <img style="width: 100%;"  ng-show="!file" ng-src="{{loadFiles(slide.img)}} "  ng-if="slide.img != '' && !file "/>
            <img style="width: 100%;" ng-show="!!file" ngf-thumbnail="file || 'img/Promons/img-cart.jpg'" ng-if="slide.img == '' || file"/>
            <input 
                type="file" 
                ngf-select 
                ng-model="file" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB" 
                />
            <br>
            <i ng-show="entryForm.file.$error.maxSize">File too large 
            {{file.size / 1000000|number:1}}MB: max 20M</i>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-dark" ng-click="edit(slide,file)" ng-disabled="entryForm.$invalid">Enviar</button>
          </div>
        </div>
      </form>
      
    </div>
  </div>

</div>
</treasure-overlay-spinner>


