<div class="main-wraper padd-70-0" style="background-color: #dddddd;">
    <div class="container">
        <div class="login-fullpage">
            <div class="row">
                <div class="col-xs-12">
                    <div class="f-login-content">
                        <div class="f-login-header">
                            <div class="f-login-title color-dr-blue-2">Bienvenido a florfresca</div>
                            <div class="text-center padd-15 m-bottom-15" [hidden]="!message.status" [ngClass]="message.class">
                                {{message.message}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>