<div class="main-wraper padd-15 ">
  <div class="swiper-container " data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="6" >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="partner-entry">
          <a href="#"><img class="img-responsive" src="assets/imgs/payment/americanExpress.png" alt=""></a>
        </div>
      </div>
      <div class="swiper-slide text-center">
        <div class="partner-entry">
          <a href="#"><img class="img-responsive" src="assets/imgs/payment/dinersClub.png" alt=""></a>
        </div>
      </div>
      <div class="swiper-slide text-center">
        <div class="partner-entry">
          <a href="#"><img class="img-responsive" src="assets/imgs/payment/masterCard.png" alt=""></a>
        </div>
      </div>
      <div class="swiper-slide text-center">
        <div class="partner-entry">
          <a href="#"><img class="img-responsive" src="assets/imgs/payment/pse.png" alt=""></a>
        </div>
      </div>
      <div class="swiper-slide text-center">
        <div class="partner-entry">
          <a href="#"><img class="img-responsive" src="assets/imgs/payment/visa.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="pagination pagination-hidden"></div>
  </div>
</div>
<footer class="bg-dark type-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="footer-block">
          <img src="assets/imgs/logo-f.png" alt="" class="logo-footer">
          <div class="f_text color-grey-7">Somos una empresa colombiana dedicada a la comercialización digital de flores colombianas.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6 no-padding">
        <div class="footer-block">
          <h6>Centro de ayuda</h6>
          <div class="contact-info">
            <!-- <div class="contact-line color-grey-3"><a href="mailto:soporte@florfresca.com" class="link-red">soporte@florfresca.com</a></div> -->
            <div class="contact-line color-grey-3"><a href="#" class="link-red">Cuidados</a></div>
            <div class="contact-line color-grey-3"><a href="#" class="link-red">Términos y condiciones</a></div>
            <div class="contact-line color-grey-3"><a href="#" class="link-red">Preguntas Frecuentes</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="footer-block">
          <h6>Contáctenos</h6>
          <div class="contact-info">
            <div class="contact-line color-grey-3"><a href="tel:+17863346161">USA: +1 (786) 334-6161</a></div>
            <div class="contact-line color-grey-3"><span>NW 64 St #3, Miami, FL 33166,USA</span></div>
            <div class="contact-line color-grey-3"><a href="tel:3043359542">COL: +57 (1) 3043359542</a></div>
            <div class="contact-line color-grey-3"><a href="#">km2 Via Cota-Chia · Vereda  Jeronimo</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-link bg-black">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-8">
          <div class="copyright" >
            <span>Copyright 2018 ·<span class="color-dr-blue-2"> FlorFrescaSAS </span>· Todos los derechos reservados</span>
          </div>
        </div>
        <div class="col-md-4">
          <ul>
            <li><a class="link-aqua" href="#"><img src="assets/imgs/icons/icon-up.png" alt="" class="icons"></a></li>
            <li><a class="link-aqua" href="#"><img src="assets/imgs/icons/icon-social-f.png" alt="" class="icons"></a></li>
            <li><a class="link-aqua" href="#"><img src="assets/imgs/icons/icon-social-t.png" alt="" class="icons"></a></li>
            <li><a class="link-aqua" href="#"><img src="assets/imgs/icons/icon-social-i.png" alt="" class="icons"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
