
<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
  <div class="container">
    <div class="row padd-90" style ="margin-bottom: 30px; padding-bottom: 30px">

      <div class="col-xs-1 col-sm-2">
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="detail-content-block">
          <div class="confirm-label bg-dr-blue radius-5">
            <img class="confirm-img" src="img/thx_icon.png" alt="">
            <div class="confirm-title color-white">Thank You. Your Booking Order is Confirmed Now.</div>
            <div class="confirm-text color-white-light">A confirmation email has been sent to your provided email address.</div>
            <a href="#" class="confirm-print c-button b-40 bg-white hv-white-o">print details</a>
          </div>
        </div>
        <div class="detail-content-block">
          <h3 class="small-title">RESUMEN DE DATOS</h3>
          <div class="table-responsive">
            <table class="table style-1 type-2 striped">
              <tbody>
              <tr>
                <td class="table-label color-grey">NOMBRE</td>
                <td class="table-label color-dark-2"><strong>5784-BD245</strong></td>
              </tr>
              <tr>
                <td class="table-label color-grey">RELACION Y/O PARENTESCO:</td>
                <td class="table-label color-dark-2"><strong>Joanna</strong></td>
              </tr>
              <tr>
                <td class="table-label color-grey">CATEGORIZACION DIRECCIÓN:</td>
                <td class="table-label color-dark-2"><strong>letto</strong></td>
              </tr>
              <tr>
                <td class="table-label color-grey">DIRECCIÓN:</td>
                <td class="table-label color-dark-2"><strong>letto</strong></td>
              </tr>
              <tr>
                <td class="table-label color-grey">CIUDAD:</td>
                <td class="table-label color-dark-2"><strong>Joanna@gmail.COM</strong></td>
              </tr>
              <tr>
                <td class="table-label color-grey">TELEFONO:</td>
                <td class="table-label color-dark-2"><strong>353 THIRD FLOOR AVENUE</strong></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-xs-1 col-sm-2">
      </div>
    </div>

    <div class="row" style="margin-bottom: 25px">
      <div class="col-xs-1 col-sm-2">
      </div>
      <div class="col-xs-1 col-sm-8" style="height: 250px; background-color:#F7F7F7">

        <div class="title hotel-middle clearfix cell-view">

          <div class="col-xs-1 col-sm-12 " style="margin: 10px">
          RESUMEN PLAN
          </div>
          <div class="col-xs-1 col-sm-4">
          <img class="icon-img bg-dr-blue " src="assets/imgs/item-2.jpg" style="width: 100%" alt="">
          </div>
        <div class="col-xs-1 col-sm-8">
            <div class="date list-hidden"><strong>Recibirás una suscripción de flores</strong></div>
            <div class="date grid-hidden"><strong>Tamaño</strong> Tamaño Original</div>
            <div class="date grid-hidden"><strong>Frecuencia</strong> Mensualmente</div>
            <div class="date grid-hidden"><strong>Tu primera orden</strong> </div>
            <h4><b>TOTAL: ------</b></h4>
        </div>
      </div>
      </div>
      <div class="col-xs-1 col-sm-2">
      </div>

  </div>
</div>
