<!-- formulario de registro -->
<div id="registro">
    <!-- <div > -->
    <div class="row" >
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="second-title" style="padding-top: 0px;">
                <img src="assets/imgs/Logo_P_Web.png" alt="Flor florfresca" style="width: 50vh; margin-bottom: 20px">
                <br>            
                <h2 style="color: rgba(0,0,0,0.51);">Diligencia la siguiente información</h2>
                <div class="form-label color-dark-2">Regala tu suscripción a alguien especial</div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showFormComplete">
        <div class="col-sm-2"></div>
        <div class="col-xs-12 col-sm-8 bg-white" style="padding: 50px" >
            <form [formGroup]="registerForm"  class="simple-from" >
                <div class="simple-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block type-2 clearfix">
                                <div class="form-label color-dark-2">Nombres</div>
                                <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                    <input type="text" formControlName="nombre" [(ngModel)]="usuario.nombre" placeholder="" name="nombre" class="inputCustom" id="nombre" >
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block type-2 clearfix">
                                <div class="form-label color-dark-2">Apellidos</div>
                                <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                    <input type="text" formControlName="apellido" [(ngModel)]="usuario.apellido" placeholder="" name="apellido" class="inputCustom" >
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                                <div class="form-block type-2 clearfix">
                                    <div class="form-label color-dark-2">Teléfono</div>
                                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                        <input type="text" formControlName="telefono" [(ngModel)]="usuario.telefono" placeholder="" name="telefono" class="inputCustom" >
                                    </div>
                                </div>
                            </div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block type-2 clearfix">
                                <div class="form-label color-dark-2">Correo electrónico</div>
                                <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                    <input type="email" formControlName="correo" [(ngModel)]="usuario.correo" placeholder="" name="correo" class="inputCustom" >
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block type-2 clearfix">
                                <div class="form-label color-dark-2">Contraseña</div>
                                <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                    <input type="password" formControlName="pass" [(ngModel)]="usuario.pass" placeholder="" name="pass" class="inputCustom" >
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block type-2 clearfix">
                                <div class="form-label color-dark-2">Confirmar contraseña</div>
                                <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                    <input type="password" formControlName="passConfi" [(ngModel)]="usuario.passConfi" placeholder="" name="passConfi" class="inputCustom" >
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 padd-40">
                            <div class="input-entry color-7">
                                <input class="checkbox-form" id="lirios" formControlName="gatos" [(ngModel)]="suscriptor.gatos" type="checkbox" name="lirios" >
                                <label class="clearfix" for="lirios">
                                    <span class="sp-check check-custom"><i class="fa fa-check"></i></span>
                                    <p class=" color-dark-2">¿Tienes gatos? Quiero mi bouquet libre de lirios</p>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4"></div>
                        <div class="col-xs-12 col-sm-4 ">
                            <!-- <button class="c-button bg-florfresca color-white" style="width: 100%;"   >AGREGAR SUSCRIPTOR</button> -->
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <!-- mensaje error -->
                <div *ngIf="formErrors" class="col-sm-6 col-sm-offset-3 text-center padd-40 alert alert-danger">
                        <div  *ngIf="FormularioError" class="text-center">Todos los datos son requeridos</div>
                    
                        <div  *ngIf="chPasswords" class="text-center">
                            <span>Las contraseñas deben ser iguales</span>
                        </div>

                        <div  *ngIf="registerExist" class="text-center">Este correo ya se encuentra registrado </div>
                </div>
                <!-- mensaje error -->
                
                <div class="col-sm-4 col-sm-offset-4 text-center padd-40">
                    <a class="btn custom-btn" (click)="registrar()"><span style="color:#fff">Siguiente</span></a>
                </div>
            </form>
            
            <div class="col-xs-1 col-sm-2"></div>
        </div>
    </div>
    <div class="row" *ngIf="showFormComplete">
        <div class="col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <div class="detail-content-block">
                <div class="confirm-label bg-dr-blue radius-5">
                    <img class="confirm-img" src="assets/img/thx_icon.png" alt="">
                    <div class="confirm-title color-white">Gracias por suscribirse</div>
                    <div class="confirm-text color-white-light">Un correo electrónico ha llegado a tu bandeja de entrada.</div>
                    <a  class="confirm-print c-button b-40 bg-white hv-white-o" (click)="login()"> Siguiente </a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<!-- formulario de registro -->