<div class="detail-wrapper">
  <!-- CONTACT-FORM -->
  <div class="main-wraper padd-40">
    <div class="container">
      <div class="row">

        <div class="col-xs-1 col-sm-2">
        </div>
        <div class="col-xs-12 col-sm-8">
          <form class="contact-form" action="#">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                  <input type="text" required="" placeholder="Enter your name">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                  <input type="text" required="" placeholder="Enter your email">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                  <input type="text" required="" placeholder="Enter your name">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="drop-wrap drop-wrap-s-3 color-2">
                  <div class="drop">
                    <b>Department</b>
                    <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                    <span>
									    <a href="#">01 kids</a>
										<a href="#">02 kids</a>
										<a href="#">03 kids</a>
										<a href="#">04 kids</a>
										<a href="#">05 kids</a>
									</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <textarea class="area-style-1 color-1" required="" placeholder="Enter your comment"></textarea>
                <button type="submit" class="c-button bg-florfresca hv-transparent " style="color: #FFFFFF;"><span>submit comment</span></button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-1 col-sm-2">
        </div>
      </div>


    </div>
  </div>

</div>
