.input-style-1{
    
    background: #fff;
    color: #000 !important;
    opacity: 1;
    border: 1px solid #000 !important;
    border-radius: 20px;
}

.customStyleInput{
    color: #000 !important;
}

.drop-wrap.color-5 .drop {
    color: #b9b9b9;
    opacity: 1;
    border: 1px solid #000;
    border-radius: 20px;
}

.drop-wrap.color-4 {
    background: #fff;
    border: 1px solid #fff;
}