<div class="detail-wrapper">
  <!-- CONTACT-FORM -->
  <div class="main-wraper padd-40">
    <div class="container">


      <div class="row" style="margin-bottom: 25px">
        <div class="col-xs-1 col-sm-2">
        </div>
        <div class="col-xs-1 col-sm-8" style="height: 250px; background-color:#F7F7F7">

          <div class="title hotel-middle clearfix cell-view">

            <div class="col-xs-1 col-sm-12 " style="margin: 10px">
              RESUMEN PLAN
            </div>
            <div class="col-xs-1 col-sm-4">
              <img class="icon-img bg-dr-blue " src="assets/imgs/item-2.jpg" style="width: 100%" alt="">
            </div>
            <div class="col-xs-1 col-sm-8">
              <div class="date list-hidden"><strong>Recibirás una suscripción de flores</strong></div>
              <div class="date grid-hidden"><strong>Tamaño</strong> Tamaño Original</div>
              <div class="date grid-hidden"><strong>Frecuencia</strong> Mensualmente</div>
              <div class="date grid-hidden"><strong>Tu primera orden</strong> </div>
              <h4><b>TOTAL: ------</b></h4>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-sm-2">
        </div>

      </div>

      <div class="row" >

        <div class="col-xs-1 col-sm-2">
        </div>
        <div class="col-xs-12 col-sm-8" style="background-color: #F6F6F6; padding: 50px">

          <form class="simple-from">
            <div class="simple-group">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-dark-2">Tu nombre </div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">

                    <div class="form-label color-dark-2">Tus apellidos</div>

                    <input type="text" placeholder="">

                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-dark-2">Tu email </div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">

                    <div class="form-label color-dark-2">Confirmar tu email</div>

                    <input type="text" placeholder="">

                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-2">Tu teléfono </div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">

                    <div class="form-label color-2">Tu celular</div>

                    <input type="text" placeholder="" >

                  </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-2"> Tipo documento</div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input type="text" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">

                    <div class="form-label color-2"> # de Documento</div>

                    <input type="text" placeholder="">

                  </div>
                </div>

                <div class="col-xs-1 col-sm-4">
                </div>
                <div class="col-xs-1 col-sm-4">
                  <input type="submit" class="c-button bg-florfresca hv-transparent" style="color: #FFFFFF; width: 100%;" value="AGREGAR SUSCRIPTOR">
                </div>

                <div class="col-xs-1 col-sm-4">
                </div>

              </div>
            </div>

          </form>

          <div class="col-xs-12 col-sm-6 s_news-text color-grey-3">
            Una vez procesado el pago nos pondremos en contacto contigo
            (via email) para que nos verifiques la dirección del envío
            y un teléfono de contacto el receptor de la suscripcion
          </div>
          <div class="col-xs-12 col-sm-6 s_news-text color-grey-3" >
            Recibiras cobro de cada mes directamente en la tarjeta
            que tú nos facilites, ¡Recuerda que si caduca la tarjeta
            deberas actualizarla en Paylatam para seguir recibiendo ordenes!
          </div>
          <div class="col-xs-1 col-sm-2">
          </div>
        </div>


      </div>


    </div>
  </div>

</div>
