  <div class="loading" [hidden]="!load">
    <div class="loading-center">
      <div class="loading-center-absolute">
        <div class="object object_four"></div>
        <div class="object object_three"></div>
        <div class="object object_two"></div>
        <div class="object object_one"></div>
      </div>
    </div>
  </div>
<div class="detail-wrapper" style="padding-top: 0px;" *ngIf="!showForm">
    <!-- CONTACT-FORM -->
    <div class="main-wraper padd-40" >
        
        <div class="container" >
            
            <!-- Seleccionar plan -->
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">
                        <h2 style="color: rgba(0,0,0,0.51);">¿A CUÁL PLAN TE QUIERES SUSCRIBIR?</h2>
                        <div class="form-label color-dark-2">Seleccionamos las flores mas líndas y frescas de nuestro cultivo, pensando en tí</div>
                    </div>
                </div>
            </div>
            <div class="blog-grid row">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6" [ngStyle]="{'margin-bottom':(i == 0)?'':'30px'}" *ngFor="let p of Flowers;index as i" >
                            <div class="tour-item style-2 delay-1"  >
                                    <!-- [ngStyle]="{'border': (p.nombre === select_flower) ? '3px solid red':'none'}" -->
                                <div class="radius-top">
                                    <div class="vertical-align text-center">
                                        <a class="c-button bg-florfresca hv-transparent" (click)="addPlan(p, size)"><span class="color-white">QUIERO SUSCRIBIRME</span></a>
                                    </div>
                                    <img [src]="p.img" alt="">
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-green" href="#">{{p.nombre}}</a></h4>
                                    <div class="tour-text color-dark-2">{{p.desc}}</div>
                                </div>
                                <i class="mdi mdi-check-circle button-selected " *ngIf="p.nombre === select_flower"></i>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- Seleccionar plan -->

            <!--  tamaño plan -->
            <div class="row" >
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">                        
                        <h2 style="color: rgba(0,0,0,0.51);">¿QUÉ TAMAÑO QUIERES PARA TU PLAN?</h2>
                        <div class="form-label color-dark-2">Seleccionamos las flores mas líndas y frescas de nuestro cultivo, pensando en tí</div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 50px" *ngFor="let t of Sizes" id="size">
                <div class="col-sm-2"></div>
                <div class="col-xs-12 col-sm-8 bg-white" >
                        <!-- [ngStyle]="{'border': (t.nombre == select_tamano) ? '3px solid red':'none'}" -->
                    <div class="col-xs-4 col-sm-4 text-center">
                        <img class="radius-img" [src]="t.icon" alt="" >
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        <div class="title hotel-middle clearfix cell-view ">
                            <h3><b>{{t.nombre}}</b></h3>
                            <p class="f-14 grid-hidden" [innerHTML]="t.desc"></p>
                            <div class="rate-wrap">
                                <a class="c-button bg-florfresca" (click)="addTamano(t)"><span class="color-white" >Elegir</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                </div>
                <div class="col-sm-2">
                        <i class="mdi mdi-check-circle button-selected " *ngIf="t.nombre == select_tamano"  style="line-height: 20vh;"></i>
                </div>
                
                
            </div>
            <!--  tamaño plan -->

            <!--  tiempo plan -->
            <div class="row" >
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">
                        <h2>¿ CON QUÉ FRECUENCIA QUIERES TU PLAN ?</h2>
                        <p class="color-dark-2">Seleccionamos las flores mas líndas y frescas de nuestro cultivo, pensando en tí</p>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 25px" *ngFor="let s of period" id="periodo">
                <div class="col-sm-2"></div>
                <div class="col-xs-12 col-sm-8 bg-white" >
                        <!-- [ngStyle]="{'border': (s.nombre == select_frecuencia) ? '3px solid red':'none'}" -->                        
                    <div [innerHTML]="s.class"></div>
                    <div class="col-xs-12 col-sm-5 text-center">
                        
                        <div class="row">
                            <div class="title hotel-middle clearfix cell-view c-v">
                                <h3><b>{{s.nombre}}</b></h3>
                                <p class="f-14 grid-hidden" [innerHTML]="s.desc"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 text-center">
                        <div class="title hotel-middle clearfix cell-view c-v">
                            <div class="rate-wrap">
                                <a class="c-button bg-florfresca" (click)="addTipo(s)"><span class="color-white" >Elegir</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                </div>
                <div class="col-sm-2">
                        <i class="mdi mdi-check-circle button-selected " *ngIf="s.nombre == select_frecuencia"  style="line-height: 12vh;"></i>
                </div>
            </div>
            <!--  tiempo plan -->

            <div class="row ">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">
                        <h2>¿QUÉ DÍA QUISIERAS RECIBIR TUS FLORES?</h2>
                        <p class="color-dark-2">Los envíos gratuitos son los martes y jueves hasta las 19.00h.<br>Si no vas a estar en casa puedes mandártelas al trabajo<br>ya que la caja ¡es super cómoda de llevar!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 ">
                    <div class="tabs-block">
                            <!-- (click)="abrePicker()" -->
                        <div class="input-style" >
                            
                            <img src="assets/imgs/calendar_icon_black.png" alt="" (click)="abrePicker()"
                            style="margin-top: 6px; margin-left: 4px" >
                            <input type="text" placeholder="Selecciona tu día" 
                            [(ngModel)]="fecha_entrega" name="fecha_entrega" id="fecha_entrega" class="datepicker" 
                            style="color:#000; border: 1px solid #ccc; z-index: 99;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="text-center">
                        <div class="input-entry color-7">
                            <input class="checkbox-form " id="text-1" type="checkbox"  [(ngModel)]="acept_entrega"  name="acept_entrega" value="true">
                            <label class="clearfix" for="text-1">
                                <span class="sp-check check-custom"><i class="fa fa-check"></i></span>
                                <p class=" color-dark-2">Acepto que la entrega se realizará el <b>primer martes</b> despues de realizada mi suscripción</p>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-sm-offset-4 padd-40">
                    <div class="text-center">
                        <div class="input-entry color-7">
                            <input class="checkbox-form " id="text-2" type="checkbox" name="acept_term" [(ngModel)]="acept_term" value="true">
                            <label class="clearfix" for="text-2">
                                <span class="sp-check check-custom"><i class="fa fa-check"></i></span>
                                <p class=" color-dark-2 ">Acepto los <a href="src/assets/img/Terminos.pdf" target="_blank">terminos y condiciones</a></p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <div class="alert alert-danger" role="alert"  *ngIf="alert != ''">
                  <p class="color-dark-2">{{alert}}</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-center padd-40">
                <a class="btn custom-btn" (click)="goToSummary()"><span style="color:#fff">Siguiente</span></a>
            </div>
        </div>
    </div>

</div>

<!-- formulario de registro -->
<div *ngIf="showForm" id="registro">
<!-- <div > -->
    <div class="row" >
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="second-title" style="padding-top: 0px;">
                <img src="assets/imgs/Logo_P_Web.png" alt="Flor florfresca" style="width: 50vh; margin-bottom: 20px">
                <br>            
                <h2 style="color: rgba(0,0,0,0.51);">Diligencia la siguiente información</h2>
                <div class="form-label color-dark-2">Regala tu suscripción a alguien especial</div>
            </div>
        </div>
    </div>

    
</div>
<!-- formulario de registro -->
