  <div class="loading" [hidden]="!load">
    <div class="loading-center">
      <div class="loading-center-absolute">
        <div class="object object_four"></div>
        <div class="object object_three"></div>
        <div class="object object_two"></div>
        <div class="object object_one"></div>
      </div>
    </div>
  </div>
<div class="detail-wrapper" style="padding-top: 0px;">
    <!-- CONTACT-FORM -->
    <div class="main-wraper padd-40">
        <div class="container">
            
            <!-- Seleccionar plan -->
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">
                        <h2 style="color: rgba(0,0,0,0.51);">¿A CUÁL PLAN TE QUIERES SUSCRIBIR?</h2>
                        <div class="form-label color-dark-2">Seleccionamos las flores mas líndas y frescas de nuestro cultivo, pensando en tí</div>
                    </div>
                </div>
            </div>
            <div class="blog-grid row">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6" [ngStyle]="{'margin-bottom':(i == 0)?'':'30px'}" *ngFor="let p of Flowers;index as i" >
                            <div class="tour-item style-2 delay-1"  >
                                    <!-- [ngStyle]="{'border': (p.nombre === select_flower) ? '3px solid red':'none'}" -->
                                <div class="radius-top">
                                    <div class="vertical-align text-center">
                                        <a class="c-button bg-florfresca hv-transparent" (click)="addPlan(p, size)"><span class="color-white">QUIERO SUSCRIBIRME</span></a>
                                    </div>
                                    <img [src]="p.img" alt="">
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-green" href="#">{{p.nombre}}</a></h4>
                                    <div class="tour-text color-dark-2">{{p.desc}}</div>
                                </div>
                                <i class="mdi mdi-check-circle button-selected " *ngIf="p.nombre === select_flower"></i>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- Seleccionar plan -->

            <!--  tamaño plan -->
            <div class="row" >
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">                        
                        <h2 style="color: rgba(0,0,0,0.51);">¿QUÉ TAMAÑO QUIERES PARA TU PLAN?</h2>
                        <div class="form-label color-dark-2">Seleccionamos las flores mas líndas y frescas de nuestro cultivo, pensando en tí</div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 50px" *ngFor="let t of Sizes" id="size">
                <div class="col-sm-2"></div>
                <div class="col-xs-12 col-sm-8 bg-white" >
                        <!-- [ngStyle]="{'border': (t.nombre == select_tamano) ? '3px solid red':'none'}" -->
                    <div class="col-xs-4 col-sm-4 text-center">
                        <img class="radius-img" [src]="t.icon" alt="" >
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        <div class="title hotel-middle clearfix cell-view ">
                            <h3><b>{{t.nombre}}</b></h3>
                            <p class="f-14 grid-hidden" [innerHTML]="t.desc"></p>
                            <div class="rate-wrap">
                                <a class="c-button bg-florfresca" (click)="addTamano(t)"><span class="color-white" >Elegir</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                </div>
                <div class="col-sm-2">
                        <i class="mdi mdi-check-circle button-selected " *ngIf="t.nombre == select_tamano"  style="line-height: 20vh;"></i>
                </div>
                
                
            </div>
            <!--  tamaño plan -->

            <!--  tiempo plan -->
            <div class="row" >
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">
                        <h2>¿ CON QUÉ FRECUENCIA QUIERES TU PLAN ?</h2>
                        <p class="color-dark-2">Seleccionamos las flores mas líndas y frescas de nuestro cultivo, pensando en tí</p>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 25px" *ngFor="let s of period" id="periodo">
                <div class="col-sm-2"></div>
                <div class="col-xs-12 col-sm-8 bg-white" >
                        <!-- [ngStyle]="{'border': (s.nombre == select_frecuencia) ? '3px solid red':'none'}" -->
                    <div [innerHTML]="s.class"></div>
                    <div class="col-xs-12 col-sm-5 text-center">
                        <div class="title hotel-middle clearfix cell-view c-v">
                            <h3><b>{{s.nombre}}</b></h3>
                            <p class="f-14 grid-hidden" [innerHTML]="s.desc"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        <div class="title hotel-middle clearfix cell-view c-v">
                            <div class="rate-wrap">
                                <a class="c-button bg-florfresca" (click)="addTipo(s)"><span class="color-white" >Elegir</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                </div>
                <div class="col-sm-2">
                        <i class="mdi mdi-check-circle button-selected " *ngIf="s.nombre == select_frecuencia"  style="line-height: 12vh;"></i>
                </div>
            </div>
            <!--  tiempo plan -->

            <!-- formulario de registro -->
            <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="second-title" style="padding-top: 0px;">
                            <img src="assets/imgs/logo.png" alt="Flor florfresca">
                            <br>            
                            <h2 style="color: rgba(0,0,0,0.51);">¿PARA QUIEN ES LA SUSCRIPCIÓN?</h2>
                            <div class="form-label color-dark-2">Regala tu suscripción a alguien especial</div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-xs-12 col-sm-8 bg-white" style="padding: 50px" *ngIf="showForm">
                        <form [formGroup]="registerForm" (ngSubmit)="addSuscriptor()" class="simple-from">
                            <div class="simple-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Nombres</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="text" formControlName="nombre" [(ngModel)]="suscriptor.nombre" placeholder="" name="nombre" [ngStyle]="{ 'border': (submitted && registerForm.controls.nombre.errors ) ? '1px solid red' : 'none' }">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Apellidos</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="text" formControlName="apellidos" [(ngModel)]="suscriptor.apellidos" placeholder="" name="apellidos" [ngStyle]="{ 'border': (submitted && registerForm.controls.apellidos.errors ) ? '1px solid red' : 'none' }">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Correo electrónico</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="email" formControlName="email" [(ngModel)]="suscriptor.email" placeholder="" name="email" [ngStyle]="{ 'border': (submitted && registerForm.controls.email.errors ) ? '1px solid red' : 'none' }">
                                            </div>
                                        </div>
                                    </div>
    
    
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Contraseña</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="password" formControlName="password" [(ngModel)]="suscriptor.password" placeholder="" name="password" [ngStyle]="{ 'border': (submitted && registerForm.controls.password.errors ) ? '1px solid red' : 'none' }">
                                            </div>
                                        </div>
                                    </div>
    
    
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Confirmar contraseña</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="password" formControlName="cpassword" [(ngModel)]="suscriptor.cpassword" placeholder="" name="cpassword" [ngStyle]="{ 'border': (submitted && registerForm.controls.cpassword.errors ) ? '1px solid red' : 'none' }">
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- <div class="col-xs-12 col-sm-6">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2" >Relación y/o parentesco</div>
                                            <select [(ngModel)]="suscriptor.rela_paren" formControlName="rela_paren" class="drop-wrap drop-wrap-s-4 color-5" name="rela_paren" [ngStyle]="{ 'border': (submitted && registerForm.controls.rela_paren.errors ) ? '1px solid red' : 'none' }" style="padding-left: 20px;">
                                                <option *ngFor='let p of parentesco'>{{p}}</option>
                                            </select>
                                        </div>
                                    </div> 
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Categorización dirección</div>
                                            <select [(ngModel)]="suscriptor.catego" formControlName="catego"  class="drop-wrap drop-wrap-s-4 color-5" name="cdir" [ngStyle]="{ 'border': (submitted && registerForm.controls.catego.errors ) ? '1px solid red' : 'none' }" style="padding-left: 20px;">
                                              <option *ngFor='let c of cat' [disabled]="c == 'Seleccione'">{{c}}</option>
                                            </select>
    
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Dirección</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="text" [(ngModel)]="suscriptor.direccion" formControlName="direccion" placeholder="" name="dir"  [ngStyle]="{ 'border': (submitted && registerForm.controls.direccion.errors ) ? '1px solid red' : 'none' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Ciudad</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="text" [(ngModel)]="suscriptor.ciudad" formControlName="ciudad" name="ciudad"  disabled>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-block type-2 clearfix">
                                            <div class="form-label color-dark-2">Teléfono</div>
                                            <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                                <input type="text" [(ngModel)]="suscriptor.tel" formControlName="tel" placeholder="" name="tel" [ngStyle]="{ 'border': (submitted && registerForm.controls.tel.errors ) ? '1px solid red' : 'none' }">
                                            </div>
                                        </div>
                                    </div>
                                -->
                                    <div class="col-xs-12 col-sm-12 padd-40">
                                        <div class="input-entry color-7">
                                            <input class="checkbox-form" id="lirios" formControlName="gatos" [(ngModel)]="suscriptor.gatos" type="checkbox" name="lirios" >
                                            <label class="clearfix" for="lirios">
                                              <span class="sp-check"><i class="fa fa-check"></i></span>
                                              <p class=" color-dark-2">¿Tienes gatos? Quiero mi bouquet libre de lirios</p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4"></div>
                                    <div class="col-xs-12 col-sm-4 ">
                                        <!-- <button class="c-button bg-florfresca color-white" style="width: 100%;"   >AGREGAR SUSCRIPTOR</button> -->
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12 col-sm-6 s_news-text color-dark-2">
                            <div class="text-center">
                                <img src="assets/imgs/icons/icon-alert.png">
                                <p>Importante</p>
                            </div>
                            <p>Una vez procesado el pago nos pondremos en contacto contigo (via email) para que nos verifiques la dirección del envío y un teléfono de contacto el receptor de la suscripcion</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 s_news-text color-dark-2">
                            <div class="text-center">
                                <img src="assets/imgs/icons/icon-pay.png">
                                <p>Pagos</p>
                            </div>
                            <p>Recibiras cobro de cada mes directamente en la tarjeta que tú nos facilites, ¡Recuerda que si caduca la tarjeta deberas actualizarla en Paylatam para seguir recibiendo ordenes!</p>
                        </div>
                        <div class="col-xs-1 col-sm-2"></div>
                    </div>
                </div>
                <div class="row" *ngIf="!showForm">
                    <div class="col-sm-2"></div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="detail-content-block">
                            <div class="confirm-label bg-dr-blue radius-5">
                                <img class="confirm-img" src="assets/img/thx_icon.png" alt="">
                                <div class="confirm-title color-white">GRACIAS POR LOS DATOS DEL RECEPTOR DE LA SUSCRIPCIÓN</div>
                                <div class="confirm-text color-white-light">Estos "datos de llegada" ya estan en nuestra base de datos.</div>
                                <!-- <a href="#" class="confirm-print c-button b-40 bg-white hv-white-o">INICIAR SESIÓN</a> -->
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <!-- formulario de registro -->

            <div class="row padd-40">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title" style="padding-top: 5px;">
                        <h2>¿QUÉ DÍA QUISIERAS RECIBIR TUS FLORES?</h2>
                        <p class="color-dark-2">Los envíos gratuitos son los martes y jueves hasta las 19.00h.<br>Si no vas a estar en casa puedes mandártelas al trabajo<br>ya que la caja ¡es super cómoda de llevar!</p>
                    </div>
                </div>
            </div>
            <!-- <hr class="padd-40"> -->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 padd-40">
                    <div class="tabs-block">
                        <div class="input-style">
                            <img src="assets/imgs/calendar_icon_black.png" alt="" style="margin-top: 3px;">
                            <input type="text" placeholder="Selecciona tu día" [(ngModel)]="fecha_entrega" name="fecha_entrega" id="fecha_entrega" class="datepicker" style="color:#000;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="text-center">
                        <div class="input-entry color-7">
                            <input class="checkbox-form " id="text-1" type="checkbox"  [(ngModel)]="acept_entrega"  name="acept_entrega" value="true">
                            <label class="clearfix" for="text-1">
                                <span class="sp-check check-custom"><i class="fa fa-check"></i></span>
                                <p class=" color-dark-2">Acepto que la entrega se realizará el <b>primer martes</b> despues de realizada mi suscripción</p>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-sm-offset-4 padd-40">
                    <div class="text-center">
                        <div class="input-entry color-7">
                            <input class="checkbox-form " id="text-2" type="checkbox" name="acept_term" [(ngModel)]="acept_term" value="true">
                            <label class="clearfix" for="text-2">
                                <span class="sp-check check-custom"><i class="fa fa-check"></i></span>
                                <p class=" color-dark-2 ">Acepto los <a href="">terminos y condiciones</a></p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <div class="alert alert-danger" role="alert"  *ngIf="alert != ''">
                  <p class="color-dark-2">{{alert}}</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-center padd-40">
                <a class="c-button bg-dr-blue hv-white full" (click)="goToSummary()"><span>Siguiente</span></a>
            </div>
        </div>
    </div>

</div>