<div class="detail-wrapper">
  <!-- CONTACT-FORM -->
  <div class="main-wraper padd-40">
    <div class="container">
      <div class="row">

        <div class="col-xs-1 col-sm-2">
        </div>
        <div class="col-xs-12 col-sm-8">
          <form class="contact-form" action="#">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                  <input type="text" required="" placeholder="Enter your name">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                  <input type="text" required="" placeholder="Enter your email">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                  <input type="text" required="" placeholder="Enter your name">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="drop-wrap drop-wrap-s-3 color-2">
                  <div class="drop">
                    <b>Department</b>
                    <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                    <span>
									    <a href="#">01 kids</a>
										<a href="#">02 kids</a>
										<a href="#">03 kids</a>
										<a href="#">04 kids</a>
										<a href="#">05 kids</a>
									</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <textarea class="area-style-1 color-1" required="" placeholder="Enter your comment"></textarea>
                <button type="submit" class="c-button bg-dr-blue-2 hv-dr-blue-2-o"><span>submit comment</span></button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-1 col-sm-2">
        </div>
      </div>





      <div class="filter-content row">
        <div class="grid-sizer col-mob-12 col-xs-6 col-sm-3 no-padding"></div>
        <div class="item tours gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_1.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item cruises gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_2.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item flights gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_3.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item hotels gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_4.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item tours gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_5.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item cruises gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_6.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item flights gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_7.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item hotels gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_8.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item tours gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_9.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item cruises gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_10.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item flights gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_11.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item hotels gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_12.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item tours gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_13.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item cruises gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_14.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item flights gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_15.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item hotels gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_16.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item tours gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_17.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item cruises gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_18.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item flights gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_19.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>
        <div class="item hotels gal-item style-2 col-mob-12 col-xs-6 col-sm-3 no-padding">
          <a class="black-hover" href="gallery_detail.html">
            <img class="img-full img-responsive" src="img/gallery/g_gal_20.jpg" alt="">
            <div class="tour-layer delay-1"></div>
            <div class="vertical-align">
              <h3 class="color-white"><b>santorini</b></h3>
              <h5 class="color-white">sea tours</h5>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>

</div>
