<div class="container">
  <div class="login-fullpage">                                                                            
    <div class="row">
      <div class="col-xs-12">
        <div class="f-login-content">
          <div class="f-login-header">
            <div class="f-login-title color-dr-blue-2">Inicio de sesión</div>
            <div class="f-login-desc color-grey">Bienvenido</div>
          </div>
          <div class="alert bg-5" >
              <span>a</span>
          </div>
          <form class="f-login-form" >
            <div class="input-style-1 b-50 type-2 color-5">
              <input type="email" placeholder="Email" required >
            </div>
            <div class="input-style-1 b-50 type-2 color-5">
              <input type="password" placeholder="Contraseña" required >
            </div>
            <br>
            <input type="submit" class="login-btn c-button full b-60 bg-dr-blue hv-dr-blue-2-o" value="INICIAR SESIÓN">
            <div  style="text-align: center;">
            	<a class="c-button b-40 bg-dr-blue-2 hv-blue-o grid-hidden" A="recovery">olvidé mi contraseña</a>
              	<br><br>
              	<a class="c-button b-40 bg-dr-blue-2 hv-blue-o grid-hidden" ui-sref="register">Registrarse</a>
            </div>
          </form>
        </div>        
      </div>
    </div>
  </div>
</div>  