<div class="main-wraper padd-70-0" style="background-color: #dddddd;">
    <div class="container">
        <div class="login-fullpage">
            <div class="row">
                <div class="col-xs-12">
                    <div class="f-login-content">
                        <div class="f-login-header">
                            <div class="f-login-title color-dr-blue-2">RECUPERAR CONTRASEÑA</div>
                        </div>
                        <form class="f-login-form" (ngSubmit)=" f.form.valid &&  onSubmit()" #f="ngForm">
                            <!-- mensaje error -->
                            <div *ngIf="f.submitted && email.invalid  "  class="invalid-feedback">

                              <div class="alert bg-5" *ngIf="email.errors.required">
                                <span>Email es requerido</span> 
                              </div>
                              <div class="alert bg-5" *ngIf="email.errors.email">
                                <span>Debe ser un email valido</span> 
                              </div>
                            </div>
                            <!-- fin mensaje error -->


                            <div class="form-group">
                                <div class="input-style-1 b-50 type-2 color-5">
                                    <input type="text" class="form-control" name="email" [(ngModel)]="usuario.email" #email="ngModel" required email placeholder="Email">
                                </div>
                            </div>
                            <br>

                            <input type="submit" class="login-btn c-button full b-60 bg-dr-blue hv-dr-blue-2-o" value="ENVIAR">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>