  <!-- <div class="loading">
    <div class="loading-center">
      <div class="loading-center-absolute">
        <div class="object object_four"></div>
        <div class="object object_three"></div>
        <div class="object object_two"></div>
        <div class="object object_one"></div>
      </div>
    </div>
  </div> -->
<div class="treasure-overlay-spinner-content treasure-overlay-spinner-active">
  <div class="treasure-overlay-spinner-container">
    <div class="treasure-overlay-spinner"></div>
  </div>
</div>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>

