<treasure-overlay-spinner active='spinner.active'>
<div class="bg-light lter b-b wrapper-md">
  <button class="btn m-b-xs w-xs btn-success pull-right" ui-sref="app.addUser" ng-show="premium">
    <i class="icon-magic-wand"></i>
    Agregar
  </button> 
  <h1 class="m-n font-thin h3">Usuarios</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body b-b b-light">
      Buscar: <input id="filter" ng-model="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
      <table class="table m-b-none"  data-filter="#filter">
        <thead>
          <tr>
            <th data-toggle="true">Creación</th>
            <th>Email</th>
            <th>Membresía</th>
            <th > Obsequio</th>
            <th>Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | orderBy:'email' | filter: filter ">
            <td>{{user.created | date:'shortDate'}}</td>
            <td>{{user.email}}</td>
            <td>
              <span ng-if="user.suscription">
                <span ng-if="user.life">Vitalicia</span>
                <span ng-if="!user.life">Mensual</span>
              </span>
              <span ng-if="!user.suscription">Ninguna</span>
            </td>
            <td>
              <div  ng-if="user.suscription">
                  <div ng-if="!user.life">
                    <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="bond(user._id,'v')"><i class="fa fa-plus"></i>Vitalicia</button>
                  </div>
               </div>
             
               <div  class="row"  ng-if="!user.suscription">
                <div class="col-sm-6" >
                    <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="bond(user._id,'v')"><i class="fa fa-plus"></i>Vitalicia</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="bond(user._id,'m')"><i class="fa fa-plus"></i>Mensual</button>
                </div>
              </div>
            </td>
            <td>
              <!--<a href class="active" ui-toggle-class ng-if="data.referido == true">-->
              <span class="active"  ng-show="user.active">
                <i class="fa fa-check text-success text-active"></i>
              </span>
              <span   ng-hide="user.active">
                <i class="fa fa-times text-danger text"></i>
              </span>
            </td>
            <td >
              <!-- <button class="btn m-b-xs w-xs btn-info" ui-sref="app.user({id: user._id})">
                <i class="icon-pencil" title="Editar"></i>
              </button> -->
              <button class="btn m-b-xs w-xs btn-danger" ng-click="delete(user.email)">
                <i class="icon-trash" title="Borrar"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-danger" ng-show="Error">{{Error}}</div>
  </div>
</div>
</treasure-overlay-spinner>