<header class="type-4 hovered menu-3">
		<!-- <div class="top-header-bar bg-dr-blue">	 
				 <div class="container">
							 <div class="row">
										 <div class="col-md-12">
									<div class="top-header-block fl e-mail">
												<a class="color-white" href="tel:573043359542">Llámanos +57 3043359542</a>
									</div>
									<div class="top-header-block fl phone">
												<a class="color-white" href="mailto:soporte@florfresca.com">Escríbenos soporte@florfresca.com</a>
									</div>
									<div class="fr">
											<div class="top-header-block fl card">
													<a  href="https://wa.me/573043359542" style="margin: 0;padding: 0">
															<img src="assets/imgs/icons/icon-whatsapp.png" alt="Flor florfresca" height="15px" >
													</a>
											</div>
											<div class="top-header-block fl card">
													<div *ngIf="isLogin(); else eIn">
															<a class="card-link color-white" routerLink="/login">Ingresar</a>
													</div>
													<ng-template #eIn>
															<a class="card-link color-white" routerLink="/account">Mi cuenta</a>
													</ng-template>
											</div>
											<div class="top-header-block fl search">
													<div *ngIf="isLogin(); else eRe">
															<a class="card-link color-white" routerLink="/register">Registrarse</a>
													</div>
													<ng-template #eRe>
															<a class="card-link color-white" (click)="logout()">Salir</a>
													</ng-template>
											</div>
											</div>
										 </div>
							 </div>
				 </div>
		 </div> -->
 <div class="container">
			 <div class="row justify-content-center nav-movil">
					<div class="col-9 pt-3 pb-2 col-md-12 text-center">
							<div class="">
									<a href="/home">
											<img src="assets/imgs/Logo_P_Web.png" alt="Mobirise" title="" style="height: 4.3rem;">
									</a>
									
							</div>
					</div>
					<div class="col-3 align-right movil-menu">
							<div class="nav-menu-icon col-2 align-right">
									<a href="#"><i></i></a>
								</div>
					</div>
						<div class="col-md-12 col-9">
							<div class="nav justify-content-center"> 
							 
								<nav class="menu" style="text-transform: uppercase;">
								<ul>
									<li class="type-1">
											<a routerLink="/home">Inicio</a>
									</li>
									<li class="type-1">
											<a routerLink="subscription">Suscríbete</a>
									</li>
									<li class="type-1">
											<a routerLink="/Por_que_flor_fresca">¿Por qué flor Fresca?</a>
									</li>
									<li class="type-1">
											<a routerLink="/faq">Centro de ayuda</a>
									</li>
									<li class="type-1">
										<a  href="mailto:florfresca@florfresca.com" >
											Contactenos
										</a>
									</li>

									<li class="type-1">
										<a routerLink="" class="btn btn-danger" style="line-height: 2px;">Ingresar</a>
									</li>

									<!-- <li class="type-1" style="padding-top: 20px;padding-bottom: 0;padding-bottom: 0;">
											<a  href="mailto:florfresca@florfresca.com" target="_blank" style="padding: 0" >
													<img src="assets/imgs/icons/icon-email.png" alt="Flor florfresca" height="40px"  width="40px">
											</a>
									</li>
									<li class="type-1" style="padding-top: 20px;padding-bottom: 0;">
											<a  href="https://wa.me/573043359542" target="_blank" style="padding: 0" >
													<img src="assets/imgs/icons/icon-whatsapp.png" alt="Flor florfresca" height="40px" width="40px">
											</a>
									</li>
									<li class="type-1" style="padding-top: 20px;padding-bottom: 0;">
											<a style="padding: 0" routerLink="/login" *ngIf="isLogin()">
													<img src="assets/imgs/icons/icon-user.png" alt="Flor florfresca" height="40px" width="40px">
											</a>
											<a style="padding: 0" routerLink="/account" *ngIf="!isLogin()">
													<img src="assets/imgs/icons/icon-user.png" alt="Flor florfresca" height="40px" width="40px">
											</a>
									</li> -->
									<!-- <li class="type-1" style="padding-top: 20px;padding-bottom: 0;">
											<div *ngIf="isLogin(); else eRe" >
													<a routerLink="/register" style="padding: 0">
															<img src="assets/imgs/icons/icon-plus.png" alt="Flor florfresca" height="40px" width="40px">
													</a>
											</div>
											<ng-template #eRe>
													<a (click)="logout()" style="padding: 0">
															<img src="assets/imgs/icons/icon-less.png" alt="Flor florfresca" height="40px" width="40px">
													</a>
											</ng-template>
									</li> -->
								</ul>
				 				</nav>
				 </div>
						</div>
			 </div>
 </div>
</header>