<header class="type-4 hovered menu-3">
   <div class="top-header-bar bg-dr-blue">	 
  	 	<div class="container">
  	   		<div class="row">
  	   	  		<div class="col-md-12">
					<div class="top-header-block fl e-mail">
						<!-- <img src="assets/img/phone_icon_blue.png" alt=""> -->
				  		<a class="color-white" href="tel:">Llámanos +57 3043359542</a>
					</div>
					<div class="top-header-block fl phone">
					<!-- <img src="assets/img/mail_icon_blue.png" alt=""> -->
				  		<a class="color-white" href="mailto:letstravel@letstravel.com">Escríbenos soporte@florfresca.com</a>
					</div>
					<div class="fr">
						<div class="top-header-block fl card">
					  		<a class="card-link color-white" href="login">Ingresar</a>
						</div>
						<div class="top-header-block fl search">
							<a class="card-link color-white" href="register">Registrarse</a>
						</div>
 	   	    		</div>
  	   	  		</div>
  	   		</div>
  	 	</div>
   	</div>
   <div class="container">
   	  <div class="row">
   	  	 <div class="col-md-12">
  	  	    <div class="nav"> 
   	  	    <a href="index.html" class="logo">
   	  	    	<img src="assets/imgs/logo.png" alt="Flor florfresca" height="70px">
   	  	    </a>
   	  	    <div class="nav-menu-icon">
		      <a href="#"><i></i></a>
		    </div>
   	  	 	<nav class="menu">
			  	<ul>
					<li class="type-1 active">
						<a href="home">Inicio</a>
					</li>
					<li class="type-1">
						<a href="subscription">Suscríbete</a>
					</li>
					<li class="type-1">
						<a href="home#">¿Por qué flor Fresca?</a>
					</li>
					<li class="type-1">
						<a href="#">RSE</a>
					</li>
					<li class="type-1">
						<a href="#">Contácto</a>
					</li>
					<li class="type-1">
						<a href="#">Centro de ayuda</a>
					</li>
			  	</ul>
		   </nav>
		   </div>
   	  	 </div>
   	  </div>
   </div>
</header>