<div class="detail-content-block">
  <div class="table-responsive">
    <div class="list-header clearfix">
      <div class="list-sort">
        <h4 class="small-title"><b>Detalles de la cuenta</b></h4>
        <!-- <img ng-src="img/ui/icon/user/.png"> -->
      </div>
      <div class="list-view-change">
        <a class="c-button b-50 bg-dr-blue-2 hv-dr-blue-2-o" >
          <span>Editar</span>
        </a>
      </div> 
    </div>
    <table class="table style-1 type-2 striped">
      <tbody>
        <tr>
          <td class="table-label color-grey">Nombre</td>
          <td class="table-label color-dark-2"><strong>{{usuario.nombre}}</strong></td>
        </tr>
        <tr>
          <td class="table-label color-grey">Apellido:</td>
          <td class="table-label color-dark-2"><strong>{{usuario.nombre}}</strong></td>
        </tr>
        <tr >
          <td class="table-label color-grey">Correo:</td>
          <td class="table-label color-dark-2"><strong>{{usuario.correo}}</strong></td>
        </tr>
         <tr>
          <td class="table-label color-grey">Teléfono:</td>
          <td class="table-label color-dark-2"><strong>{{usuario.telefono}}</strong></td>
        </tr>
        <tr >
          <td class="table-label color-grey">Celular:</td>
          <td class="table-label color-dark-2"><strong>{{usuario.celular}}</strong></td>
        </tr>
        <tr >
          <td class="table-label color-grey">Tipo de documento:</td>
          <td class="table-label color-dark-2"><strong>{{usuario.tipo_doc}}</strong></td>
        </tr>
        <tr >
          <td class="table-label color-grey">Documento:</td>
          <td class="table-label color-dark-2"><strong>{{usuario.documento}}</strong></td>
        </tr>
        <tr >
          <td class="table-label color-grey">Dirección:</td>
          <td class="table-label color-dark-2"><strong>{{usuario.dir}}</strong></td>
        </tr>                                                                                                                                           
      </tbody>
    </table>
  </div>  
</div>
<div class="detail-content-block">
  <div class="simple-text">
    <h4 class="small-title">Flor Fresca</h4>
    <p class="color-grey">Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>