
<!-- INNER-BANNER -->
<div class="inner-banner style-6" style="margin-top: 50px;">
  <img class="center-image" src="../../../assets/img/inner/bg_4.jpg" alt="">
  <div class="vertical-align">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <ul class="banner-breadcrumb color-white clearfix">
            <li><a class="link-blue-2" href="#">home</a> /</li>
            <li><span>gallery #3</span></li>
          </ul>
          <h2 class="color-white">gallery</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TEAM -->
<div class="main-wraper padd-70-0">
  <div class="filter style-2">
    <ul class="filter-nav">
      <li class="selected"><a href="#all" data-filter="*">all</a></li>
      <li><a href="#tours" data-filter=".tours">tours</a></li>
      <li><a href="#cruises" data-filter=".cruises">cruises</a></li>
      <li><a href="#flights" data-filter=".flights">flights</a></li>
      <li><a href="#hotels" data-filter=".hotels">hotels</a></li>
    </ul>
  </div>
</div>
