

<!-- INNER-BANNER -->
<div class="row no-padd">
  <div class="col-md-12 padd-40">
    <div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/item-bg.jpg); "></div>
    <div class="second-title">
      <h2 class="color-white" STYLE="margin-top:100px;">1. TU PLAN</h2>
    </div>
    <!-- <img class="center-image" src="assets/imgs/item-bg.jpg" alt=""> -->
  </div>
</div>

<!-- TEAM -->
<div class="main-wraper padd-70-0" style="background-color: #dddddd;">
  <div class="filter style-2">
    <ul class="filter-nav">
      <li class="selected"><a  routerLink="/subscription/plan"  data-filter="*">1. Personaliza</a></li>
      <li><a routerLink="/subscription/summary" data-filter=".tours" style="margin-left: 20px">2. Previsualiza</a></li>
      <li><a routerLink="/subscription/payment" data-filter=".cruises" style="margin-left: 20px">3. Disfruta</a></li>
    </ul>
  </div>
</div>
