<div class="top-baner swiper-animate arrows">
	<div class="swiper-container main-slider swiper-unique-id-0" data-autoplay="5000" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
		<div class="swiper-wrapper">
			<div class="swiper-slide active" data-val="0">
			  <div class="clip">
				 <div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/Slider_1.jpg)">
				 </div>
			  </div>
				<div class="vertical-align">
				  <div class="container">
					<div class="row">
					  <div class="col-md-12">
						<div class="main-title vert-title">
						  <div class="top-weather-info delay-1">
							<!-- <p>London</p> -->
							  <img src="assets/imgs/icons/icon-flor.png" alt="">
								<!-- <span>icon-flor</span> -->
						  </div>
						  <h2 class="color-white delay-1">SUSCRIBETE AL MEJOR PLAN</h2>
						  <h1 class="color-white delay-1">DE FLORES EN COLOMBIA</h1>
							<p class="color-white-op delay-2">Suscríbete y recibe cada mes flores frescas distintas en tu casa o en tu oficina... ¡Sin preocuparte de nada más!</p>
							<a href="#" class="c-button bg-florfresca hv-transparent delay-2"><img src="assets/img/search_icon.png" alt=""><span>Ver Planes</span></a>
						 </div>
					   </div>
					  </div>
					</div>
				 </div>
			</div>
			<div class="swiper-slide" data-val="1">
			  	<div class="clip">
				 	<div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/Slider_2.jpg)"></div>
			  	</div>
				<div class="vertical-align">
				  <div class="container">
					<div class="row">
					  <div class="col-md-12">
						<div class="main-title vert-title">
						  <div class="top-weather-info delay-1">
							<!-- <p>London</p> -->
							  <img src="assets/imgs/icons/icon-flor.png" alt="">
								<!-- <span>icon-flor</span> -->
						  </div>
						  <h2 class="color-white delay-1">SUSCRIBETE AL MEJOR PLAN</h2>
						  <h1 class="color-white delay-1">DE FLORES EN COLOMBIA</h1>
							<p class="color-white-op delay-2">Suscríbete y recibe cada mes flores frescas distintas en tu casa o en tu oficina... ¡Sin preocuparte de nada más!</p>
							<a href="#" class="c-button bg-florfresca hv-transparent delay-2"><img src="assets/img/search_icon.png" alt=""><span>Ver Planes</span></a>
						 </div>
					   </div>
					  </div>
					</div>
				</div>
			</div>
			<div class="swiper-slide" data-val="1">
			  	<div class="clip">
				 	<div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/Slider_3.jpg)"></div>
			  	</div>
				<div class="vertical-align">
				  <div class="container">
					<div class="row">
					  <div class="col-md-12">
						<div class="main-title vert-title">
						  <div class="top-weather-info delay-1">
							<!-- <p>London</p> -->
							  <img src="assets/imgs/icons/icon-flor.png" alt="">
								<!-- <span>icon-flor</span> -->
						  </div>
						  <h2 class="color-white delay-1">SUSCRIBETE AL MEJOR PLAN</h2>
						  <h1 class="color-white delay-1">DE FLORES EN COLOMBIA</h1>
							<p class="color-white-op delay-2">Suscríbete y recibe cada mes flores frescas distintas en tu casa o en tu oficina... ¡Sin preocuparte de nada más!</p>
							<a href="#" class="c-button bg-florfresca hv-transparent delay-2"><img src="assets/img/search_icon.png" alt=""><span>Ver Planes</span></a>
						 </div>
					   </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="pagination pagination-hidden poin-style-1"></div>
	</div>
	<div class="arrow-wrapp m-200">
		<div class="cont-1170">
			<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
			<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
		</div>
	</div>
</div>


