.vertical-align{ -webkit-transform: translateY(200%);transform: translateY(200%); }
.m-200 .swiper-arrow-right{margin-top:0;}
.m-200 .swiper-arrow-left{margin-top:0;}
.main-slider .swiper-slide { min-height: 662px; }

.main-slider-3 { height: 100vh; }
.main-slider-3 .vertical-bottom {bottom: 40px;}

.main-slider-3 .input-style-1 { margin: 0px; }

.main-slider-3 .input-style-1 input { padding: 0px 30px; font-size: 16px; }

.main-slider-3 .main-title .c-button { position: absolute; right: 0px; top: 0px; height: 60px; }

.main-slider-3 .main-title form { position: relative; width: 100%; display: inline-block; }

.main-slider-4 { position: absolute; top: 0px; left: 50%; right: 0%; bottom: 0%; height: 100%; }

.main-slider-5 .swiper-slide { min-height: 762px; }

.main-slider-5 .cell-view { width: 50%; }

.main-slider-5 .slider-block { position: relative; background: #fff; padding-top: 40px; padding-bottom: 30px; -moz-border-radius: 3px; border-radius: 3px; }

.main-slider-5 .slider-block-left { position: absolute; top: 0px; left: 0px; width: 50%; bottom: 0px; }

.main-slider-5 .slider-block-right { width: 50%; float: right; text-align: center; }

.main-slider-5 .slider-block-right .rate-wrap { display: block; text-align: center; }

.main-slider-5 .slider-block-right .rate-wrap .rate { float: none; }

.main-slider-5 .rate-wrap { margin-bottom: 12px; }

.main-slider-5 .rate { display: inline-block; float: none; margin-bottom: 5px; }

.main-slider-5 .rate span { font-size: 11px; }

.main-slider-5 .rate-wrap i { display: inline-block; float: none; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 18px; }

.main-slider-5 .sb-title { font-size: 38px; line-height: 44px; font-weight: 700; color: #222; letter-spacing: 6px; padding-left: 20%; padding-right: 20%; margin-bottom: 15px; }

.main-slider-5 .sb-text { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 20px; font-weight: 400; color: #222; opacity: 0.6; padding: 0px 10%; margin-bottom: 37px; }

.main-slider-5 .c-button { margin-bottom: 56px; }

.main-slider-5 .slide-preview a { display: inline-block; margin-right: 10px; }

.main-slider-5 .slide-preview img { -moz-border-radius: 4px; border-radius: 4px; }

.main-slider-5 .slide-preview img:hover, .main-slider-5 .slide-preview .active img { -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.main-slider-6 .swiper-slide { min-height: 725px; }

.swiper-container.h-143 { padding-top: 71.5px; }

.best-slider { height: 350px; }

.best-slider .vertical-align { z-index: 2; }

.slider-wth-thumbs.style-1 .thumbnails .swiper-slide img { opacity: 0.6; }

.slider-wth-thumbs.style-1 .thumbnails .swiper-slide img:hover { opacity: 1; }

.slider-wth-thumbs.style-1 .thumbnails .swiper-slide.current img { opacity: 1; }

.slider-wth-thumbs.style-2 .thumbnails .swiper-slide { position: relative; }

.slider-wth-thumbs.style-2 .thumbnails .swiper-slide:before { content: ''; display: block; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; border: 10px solid #2d3e50; z-index: 10; opacity: 0; transition: all 0.3s ease-in; -wenkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-ms-transition: all 0.3s ease-in;}

.slider-wth-thumbs.style-2 .thumbnails .swiper-slide:hover:before {opacity: 1;}
.slider-wth-thumbs.style-2 .thumbnails .swiper-slide.current:before {opacity: 1;}