<div class="top-baner swiper-animate arrows">
	<div class="swiper-container main-slider" data-autoplay="5000" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
		<div class="swiper-wrapper">
			<div class="swiper-slide active" data-val="0">
			  <div class="clip">
				 <div class="bg bg-bg-chrome act" style="background-image:url(assets/img/home_1/main_slide_1.jpg)">
				 </div>
			  </div>
				<div class="vertical-align">
				  <div class="container">
					<div class="row">
					  <div class="col-md-12">
						<div class="main-title vert-title">
						  <div class="top-weather-info delay-1">
							<p>London</p>
							  <img src="img/weather_icon.png" alt="">
								<span>+30&deg;C</span>
						  </div>
						  <h1 class="color-white delay-1">DE FLORES <br> EN COLOMBIA</h1>
							<p class="color-white-op delay-2">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum.</p>
							<a href="#" class="c-button bg-florfresca hv-transparent delay-2"><img src="img/loc_icon.png" alt=""><span>view our tours</span></a>
						 </div>
					   </div>
					  </div>
					</div>
				 </div>
			</div>
			<div class="swiper-slide" data-val="1">
			  <div class="clip">
				 <div class="bg bg-bg-chrome act" style="background-image:url(assets/img/home_1/main_slide_1.jpg)">
				 </div>
			  </div>
				<div class="vertical-align">
				  <div class="container">
					<div class="row">
					  <div class="col-md-12">
						<div class="main-title vert-title">
						  <div class="top-weather-info delay-1">
							<p>London</p>
							  <img src="img/weather_icon.png" alt="">
								<span>+30&deg;C</span>
						  </div>
						  <h1 class="color-white delay-1">amazing santorini<br> 7 days tour</h1>
							<p class="color-white-op delay-2">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum.</p>
							<a href="#" class="c-button bg-florfresca delay-2"><img src="img/loc_icon.png" alt=""><span>view our tours</span></a>
						 </div>
					   </div>
					  </div>
					</div>
				 </div>
			</div>
		</div>
		  <div class="pagination pagination-hidden poin-style-1"></div>
	</div>
	<div class="arrow-wrapp m-200">
		<div class="cont-1170">
			<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
			<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
		</div>
	</div>
</div>


