<!-- <app-slide></app-slide> -->
  
<!-- INNER-BANNER -->
<div class="row " >
  <div class="col-md-12 padd-40" >
    <div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/bg-eventos.jpg); "></div>
    <div class="second-title">
      <h2 class="color-white" STYLE="margin-top:100px;">Completa todos los datos</h2>
    </div>
    <!-- <img class="center-image" src="assets/imgs/item-bg.jpg" alt=""> -->
  </div>
</div>

<!-- TEAM -->
<div class="main-wraper padd-70-0" >
  <div class="filter style-2">
    <ul class="filter-nav">
      <li [ngClass]="{'selected' : getPath() === '/subscription/plan' }">
        <a  routerLink="/subscription/plan"  data-filter="*" style="margin-right: 20px">1. Personaliza</a>
      </li>
      <li [ngClass]="{ 'selected' : getPath()=== '/subscription/summary' }">
        <a routerLink="/subscription/summary"  data-filter=".tours" style="margin-right: 20px">2. Registrate</a></li>
      <li  [ngClass]="{ 'selected' : getPath() === '/subscription/payment' }">
        <a routerLink="/subscription/payment" data-filter=".cruises" style="margin-right: 20px">3. Disfruta</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>

