<!--ACCORDION-->
<div class="main-wraper bg-grey-2 padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="color-dark-2-light">&nbsp;</h4>
					<br>
					<h2>FAQ</h2>
				</div>
			</div>
		</div>
		<div class="accordion-filter row">
			<div class="col-xs-12 col-sm-2">
				<!-- <div class="accordion-chooser">
					<a data-fifter="*" href="#">all</a>
					<a data-fifter=".features" href="#">Features</a>
					<a data-fifter=".sliders" href="#">Sliders</a>
					<a data-fifter=".requests" href="#">Reservation Requests</a>
					<a data-fifter=".reservations" href="#">Your Reservations</a>
					<a class="active" data-fifter=".results" href="#">Search Results</a>
					<a data-fifter=".color" href="#">Color Schemes</a>
					<a data-fifter=".travel" href="#">let’s travel Support</a>
					<a data-fifter=".other" href="#">Other Questions</a>
				</div> -->
			</div>
			<div class="col-xs-12 col-sm-8">
		        <div class="accordion style-5">
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>1.	Necesito crear una cuenta para hacer una orden?</div>
		                <div class="acc-body">
							<!-- <h5>metus Aenean eget massa</h5> -->
							<p>Si, queremos que tengas toda la información relacionada con tus pedidos, cuando creas una cuenta puedes ver:</p>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<ul>
										<li>Detalles de tu orden</li>
										<li>Resumen de tus ordenes pasadas</li>
										<li>Contactos y direcciones</li>
									</ul>
								</div>
							</div>
		                </div>
		            </div>
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>2.	Como administro mis contactos y direcciones?</div>
		                <div class="acc-body">
							<p>Cuando creas tu cuenta y almacenas tus contactos y direcciones puedes hacer más fácil tu compra. Puedes almacenar hasta 3 direcciones diferentes Desplázate al botón de ingreso que se encuentra en la parte superior derecha de la página principal y sigue los pasos…</p>
		                </div>
		            </div>
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>3.	Como elimino mi cuenta?</div>
		                <div class="acc-body">
							<h5>metus Aenean eget massa</h5>
							<p>Para suspender tu suscripción temporalmente ingresa a tu cuenta y desplázate al botón suspender mi cuenta.<br>
								Para eliminar completamente tu información de nuestra página escríbenos a soporte@florfresca.com.co</p>
		                </div>
		            </div>
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>4.	Mi contraseña</div>
		                <div class="acc-body">
							<p><b>Olvidé mi contraseña</b>. Si olvidaste tu contraseña, haz clic en <b>"Olvidé mi contraseña"</b> justo debajo del botón "Iniciar sesión". Ingresa tu dirección de correo electrónico y verifica en tu bandeja de entrada la nueva contraseña temporal.</p>
							<p>
								<strong>¿Cómo puedo restablecer mi contraseña?</strong> Para restablecer tu contraseña, inicia sesión en tu cuenta y coloca el cursor sobre el ícono de la silueta en la esquina superior derecha. Haz clic <strong>en "Mi cuenta"</strong> para ver tu perfil. El enlace <strong>"Editar"</strong> a la derecha de su información abrirá los detalles de tu perfil. Aquí puedes editar cualquiera de los campos, incluida tu contraseña.
							</p>
		                </div>
		            </div>
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>5.	Como puedo revisar ordenes pasadas?</div>
		                <div class="acc-body">
							<p>Si realizó un pedido a través de su cuenta de Bouqs, podrá iniciar sesión y ver sus pedidos actuales y pasados. Simplemente coloque el cursor sobre el ícono de la silueta en la parte superior derecha y haga clic en "Pedidos".</p>
		                </div>
		            </div>
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>6.	Puedo hacer cambios en mi orden?</div>
		                <div class="acc-body">
							<p>Por el momento, la única forma de realizar cambios en un pedido es cancelarlo y crear un nuevo pedido con sus preferencias actualizadas. Antes de hacer esto, sin embargo, por favor:</p>
							<ul>
								<li>Por favor cancela con dos días hábiles a la fecha de tu próxima entrega, de lo contrario ya tu orden estará en proceso y no será posible modificarla o cancelarla.</li>
								<li>Si tienes algún problema con tu entrega por favor escríbenos en el icono de WhatsApp que se encuentra en “home” o envíanos un correo a soporte@florfresca.com.co</li>
							</ul>
							<p>Para proceder a cancelar y volver a crear su pedido, visite el Historial de pedidos, haga clic en Detalles de pedidos al lado de Bouq y luego haga clic en Cancelar. Su orden será cancelada y reembolsada (permita entre 1 y 5 días hábiles para que se procese el reembolso).</p>
							<p>Por último, haga un nuevo pedido con sus actualizaciones.</p>
		                </div>
		            </div>
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>7. Como cancelo mi suscripción?</div>
		                <div class="acc-body">
							<p>Ingresa a tu cuenta, quiero cancelar mi suscripción</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>8. Que es una suscripción de Flor Fresca?</div>
		                <div class="acc-body">
							<p>Una suscripción de Flor fresca, es un programa con el que puedes disfrutar de flores a la puerta de tu hogar u oficina con una periodicidad semanal, quincenal o mensual. Ya sea que desees que te entreguen las flores a ti o a otra persona especial como regalo, con la suscripción puedes disfrutar de decidir:</p>
							<u>
								<li> Donde se entregan sus flores</li>
								<li> Con qué frecuencia llegan las flores</li>
								<li> Su colección preferida (frescas de cultivo, clásicas, rosas o exóticas)</li>
							</u>
							<p>Puedes cancelar en cualquier momento, por cualquier motivo. Esperamos que te quedes con nosotros, pero no haremos que sea difícil irse.</p>
							<p>Para crear su suscripción, haz clic aquí.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>9.	Como puedo administrar mi suscripción?</div>
		                <div class="acc-body">
							<p></p>
		                </div>
		            </div>
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>10. Mi beneficiario puede recibir notificaciones del envío?</div>
		                <div class="acc-body">
							<p>Por el momento la persona que pone el pedido recibe las notificaciones, eso quiere decir que si envías tu suscripción como regalo las notificaciones llegarán a tu correo. Sin embargo te recomendamos informar a su destinatario de la frecuencia de entrega para que sepan cuándo esperar sus flores.</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>11. Que días de la semana recibo mi pedido?</div>
		                <div class="acc-body">
							<p>Por el momento tenemos habilitados los días martes y jueves</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>12.	Como funciona el programa de referencia a un amigo?</div>
		                <div class="acc-body">
							<p></p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>13.	Puedo cambiar mi tarjeta de crédito?</div>
		                <div class="acc-body">
							<p>Visita la sección "Métodos de pago" de tu cuenta para localizar y ver sus tarjetas de crédito registradas. Haz clic en "Editar" o "Eliminar" para actualizar tu información.</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>14.	Que métodos de pago son aceptados?</div>
		                <div class="acc-body">
							<p>Actualmente solo aceptamos pagos con tarjeta de crédito</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>15.	Son aceptadas tarjetas de crédito internacionales?</div>
		                <div class="acc-body">
							<p>Si</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>16.	Puedo cambiar el método de pago luego de aceptar la orden?</div>
		                <div class="acc-body">
							<p>Lamentablemente, no podemos cambiar los métodos de pago una vez que se realiza el pedido. Para hacer un cambio, deberás cancelar el pedido y crear uno nuevo con la forma de pago preferida. Antes de hacerlo, revisa los pasos y consideraciones para reemplazar una orden en “Puedo hacer cambios en mi orden?”</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>17. Como puedo rastrear mi pedido?</div>
		                <div class="acc-body">
							<p>Puedes ingresar a tu cuenta para revisar la información de tu pedido. Además, recibirás información de seguimiento en un correo electrónico.</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>18.	A que ciudades hacen envíos?</div>
		                <div class="acc-body">
							<p>Por el momento solo hacemos envíos a Bogotá.</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>19. Mi orden está atrasada.</div>
		                <div class="acc-body">
							<p>Puedes contactarnos a través del icono de Whatsapp que se encuentra en nuestro Home, o puedes escribirnos un correo a la dirección soporte@florfresca.com.co</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>20.	Mis flores están maltratadas/dañadas o muertas.</div>
		                <div class="acc-body">
							<p>Nuestro equipo trabaja con esfuerzo para elegir los mejores tallos y empacarlos de la mejor manera, enviamos del cultivo directo a tu casa, por eso algunos tallos llegarán sin florecer, lo más seguro es que tus flores después de dos días estén en perfecto estado. Si aun después de seguir las instrucciones de cuidado no estas satisfecho, escríbenos un correo a la dirección soporte@florfresca.com.co con fotos y una breve explicación de lo sucedido, nos pondremos en contacto contigo a la brevedad.</p>
		                </div>
		            </div>   
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>21. Como debo cuidar mis flores?</div>
		                <div class="acc-body">
							<p>Para que tus flores duren el mayor tiempo posible, corta los tallos y cambia el agua diariamente. Retira las hojas de cualquier parte de los tallos que puedan estar sumergidas en el agua del florero; las hojas causan bacterias que acortan la vida de la flor. Para información específica según el tipo de flor visita la sección “Instrucciones de cuidado” o haz click aquí.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>22.	Como van a llegar mis flores?</div>
		                <div class="acc-body">
							<p>Tus flores llegaran en su maypria en forma de brote, sin tubos de agua para evitar que florezcan antes de tiempo, las recibirás en cajas o empaques diseñados según la necesidad de cuidado de cada arreglo hecho por el equipo de floristas de Florfresca.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>23.	Mis flores no lucen como las que están en la página</div>
		                <div class="acc-body">
							<p>Nuestras flores son cortadas de acuerdo a las órdenes que nuestros clientes desean, todas las fotos de nuestra página e Instagram representan un arreglo que hemos realizado. Si estás decepcionado con sus flores, nos gustaría saber. Envíenos un mensaje e incluye una foto si es posible para que podamos solucionar el incidente.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>24.	Cuanto pueden durar mis flores?</div>
		                <div class="acc-body">
							<p>Para que tus flores duren más te recomendamos seguir las instrucciones de cuidado. Si quieres información adicional haz clic <a href="/why">aquí</a>  </p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>25.	Como es su política de privacidad?</div>
		                <div class="acc-body">
							<p>En florfresca nos comprometemos a proteger tus datos personales y privacidad. Hemos hecho que sea más fácil entender cómo hacemos esto respondiendo preguntas comunes aquí</p>
							<p>¿Qué información solicitamos de tu parte?</p>
							<p>¿Cómo usamos esa información?</p>
							<p>¿Cómo compartimos esa información?</p>
							<p>¿Qué medidas de seguridad tomamos para guardar tu información?</p>
							<p>Además, te invitamos a leer este artículo aquí para comprender mejor cómo protegemos la privacidad de nuestros clientes.</p>
							<p>Si tienes preguntas adicionales, no dudes en contactarnos a través de nuestros canales de atención.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>26. Quien envío mis flores?</div>
		                <div class="acc-body">
							<p>Si recibiste flores de forma anónima, puedes ponerte en contacto con nuestro equipo de atención al cliente para analizar el pedido. En los casos en que el remitente haya querido incluir una nota, nos complacerá pasar el mensaje. Si el remitente no incluyó una nota en su pedido, debemos cumplir con nuestra política de privacidad y, por lo tanto, no podremos transmitir ninguna información sobre el remitente.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>27.	Contacto de servicio al cliente</div>
		                <div class="acc-body">
							<p>Si no pudiste encontrar una respuesta a tu pregunta en nuestra sección de preguntas frecuentes,<br>
							Puedes llamarnos de lunes a viernes de 8 a.m. a 6 p.m. al +57 ...</p>
							<p>Puedes contactarnos por correo electrónico soporte@florfresca.com.co de 6AM a 7PM de lunes a viernes y de 9AM a 5PM PST los sábados y domingos.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>28.	Son seguras las flores para estar cerca de mascotas?</div>
		                <div class="acc-body">
							<p>El equipo de Florfresca no es el experto en seguridad de mascotas y te recomendamos encarecidamente investigar las precauciones de seguridad para tu mascota y raza específica. Como regla general, las margaritas y rosas de Gerbera son generalmente no tóxicas para gatos y perros y serían regalos maravillosos para sus destinatarios con esas mascotas.</p>
							<p>Los lirios, los narcisos, los tulipanes y las peonías, por otro lado, se encuentran entre las plantas que se sabe causan reacciones de leves a severas en las mascotas si se ingieren. Recomendamos encarecidamente no enviar estas flores a lugares donde los animales puedan entrar en contacto con ellas. Nuevamente, por favor consulta a un veterinario u otro experto si tienes alguna duda.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>29.	Eventos especiales</div>
		                <div class="acc-body">
							<p>¡El equipo de Florfresca está aquí para ayudarte a destacar tus eventos! Ofrecemos paquetes de bricolaje y arreglos previos, así como opciones personalizables al por mayor. Consulte a continuación para obtener más detalles sobre nuestros paquetes y vea nuestras colecciones aquí:</p>
							<p>¿Cuál es la diferencia entre paquetes personalizables y paquetes preestablecidos? Todos los paquetes preestablecidos están completamente organizados y listos para funcionar, pero no se pueden personalizar. Nuestros paquetes personalizables no están ensamblados y deben ser arreglados por el cliente. </p>
							<p>Hay un pedido mínimo? Consulta con nuestro equipo de eventos para obtener más detalles. Tener en cuenta que por el momento solo ofrecemos este servicio en Bogotá.</p>
							<p>¿Cuándo debería planear que me entreguen las flores para el gran día? Recomendamos la entrega de tallos sueltos con 3 días de anticipación. Esto permite que los tallos tengan mucho tiempo para abrir y tengas suficiente tiempo para preparar y organizar todo. Para nuestros paquetes preestablecidos, recomendamos la entrega 2 días antes del evento.</p>
							<p>¿Con cuánta anticipación necesito hacer mi pedido? Nuestro equipo de eventos necesita un tiempo de entrega de al menos 30 días.</p>
							<p>¿Cómo sabré cuándo se envía mi pedido? Después de realizar un pedido, recibirás información de seguimiento una vez que se haya recibido el pago.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>30.	Que significa su política de satisfacción garantizada?</div>
		                <div class="acc-body">
							<p>Si bien nos esforzamos por ofrecer siempre las mejores flores, estas, son impredecibles por naturaleza. Sabemos que quizás no sea perfecto el 100% del tiempo, pero siempre queremos que nuestros clientes tengan una gran experiencia. Respaldamos nuestro producto y queremos asegurarnos de que esté satisfecho con nuestro servicio.<br>
							Esto significa que te reemplazaremos las flores que no cumplan con nuestros estándares de calidad.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>31. Porque con mi compra ayudo a una fundación local?</div>
		                <div class="acc-body">
							<p>Las empresas deben ser una fuerza para el bien. Estamos expresamente comprometidos con algo más que ganancias. Ve a nuestra sección donaciones para conocer más.</p>
		                </div>
		            </div> 
		            <div class="acc-panel ">
		                <div class="acc-title"><span class="acc-icon"></span>32.	Puedo anular mi suscripción a correos informativos?</div>
		                <div class="acc-body">
							<p>
								Puedes hacer clic en el enlace "Cancelar suscripción" en la parte inferior de tus correos electrónicos o simplemente enviar la solicitud a nuestro equipo de atención al cliente aquí para no recibir correos electrónicos promocionales.
							</p>
							<p>Seguirás recibiendo notificaciones por correo electrónico sobre tus compras para que puedas mantenerte actualizado con tus pedidos.</p>
		                </div>
		            </div> 
		        </div>			
			</div>
		</div>		
	</div>
</div>