<treasure-overlay-spinner active='spinner.active'>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Usuarios</h1>
</div>

<div class="wrapper-md">

  <div class="panel panel-default">
    <div class="panel-heading font-bold">Nuevo usuario</div>
    <div class="panel-body">
      <form name="entryForm" class="form-horizontal" class="form-validation">
        <div class="form-group">
          <label class="col-sm-2 control-label">Usuario</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="newuser.name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Contraseña</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="newuser.pass" required>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-dark" ng-click="create(newuser)" ng-disabled="entryForm.$invalid">Enviar</button>
          </div>
        </div>
      </form>
      
    </div>
  </div>

</div>
</treasure-overlay-spinner>


