<div border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7" style="margin:0">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7">
        <tbody>
            <tr>
            <td style="padding-right:10px;padding-left:10px">
                <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#bd1550" style="width:600px;max-width:600px">
                    <tr>
                        <td  align="middle" style="text-align:center;padding:20px 0 10px 0">
                            <a href="" target="_blank" >
                            <img src="http://res.cloudinary.com/hncjxyyct/image/upload/v1490299398/newsletter/logo.png" border="0" alt="La Cámara sin Alma" >
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
            </tr>
            <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#fafafa" style="width:600px;max-width:600px">
                    <tbody>
                    <tr>
                    <td colspan="2" style="background:#fff;border-radius:8px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                            <tbody>
                            <tr>
                                <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0" align="">  
                                <h1 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                ¡Tienes un membresía en tu cuenta gratis!</h1>  
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0;background-color:#ededed" align="">
                                    <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">
                                        Hola <%=user%>, Inicia sesión para disfrutar tu membresía <a style="text-decoration:none;color:#0f90ba;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif" href="http://lacamarasinalma.com">lacamarasinalma.com
                                        </a>
                                    </h2>
                                </td>
                            </tr>
                            <!-- tabla de datos -->
                                <tr>
                                <td style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;background-color:#fff">
                                    <table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin-bottom:12px">
                                        <tbody>
                                        <tr>
                                            <td style="border-bottom:1px dashed #d3d3d3">
                                                <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">
                                                    Membresía Mensual ha sido obsequiada 
                                                </h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">                   
                                                <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;margin-bottom:18px">
                                                    Vence a los 30 días a partir de la fecha de llegada de este correo
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- Final tabla de datos -->
                           <tr>
                              <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;background-color:#e4e5e6">
                                  <!--Politicas de privacidad-->
                                  <p style="text-align:center;color:#999;margin-bottom:0; font-size:10px;">
                                      Este mensaje está sujeto a los <a href="http://lacamarasinalma.com/legal/terms" style="text-decoration:none;color:#0f90ba" target="_blank" >términos de servicio</a> y la <a href="http://lacamarasinalma.com/legal/privacy" style="text-decoration:none;color:#0f90ba" target="_blank" >política de privacidad</a> de La Cámara sin alma 
                                  </p>
                              </td>
                          </tr>
                          <tr>
                              <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:0 0 6px 6px;" >
                                  <div style="color:#666666;font-weight:400;font-size:11px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif; text-align:center">
                                      *** NO RESPONDER - Este Mensaje Es Generado Automáticamente ***
                                  </div>  
                              </td>
                          </tr>

                            </tbody>
                        </table>
                    </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:599px;max-width:599px;font-family:Helvetica,Arial,sans-serif">
                  <tbody>
                  <tr>
                      <td style="padding-top:24px">
                      </td>
                  </tr>
                  <tr>
                      <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:12px 20px" >
                      </td>
                  </tr>
                  <tr>
                      <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:24px 0;text-align:center" >
                          <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px">
                              <a style="text-decoration:none;color:#0f90ba;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif" href="http://lacamarasinalma.com/" target="_blank" >La Cámara sin Alma</a>
                          </div>
                          <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px;">        
                              <span>
                                  Este mensaje de correo electrónico se envió desde: 
                                  <a style="text-decoration:none;color:#0f90ba;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif" >noreply@lacamarasinalma.com</a>
                              </span>
                          </div>
                          <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300">
                            Copyright © 2017 | La Cámara sin Alma. Todos los derechos reservados.
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>