<!DOCTYPE html>
<html>
<head>
	<title>Prueba</title>
</head>
<body>
<% users.forEach(function(user){ %>                                                     
	<P><%=user%></P>
<% }); %>
</body>
</html>