<div border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7" style="margin:0">
                                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7">
                                    <tbody>
                                        <tr>
                                        <td style="padding-right:10px;padding-left:10px">
                                            <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#bd1550" style="width:599px;max-width:599px">
                                                <tbody>
                                                  <tr>
                                                    <td width="100%" valign="middle" style="text-align:center; padding:11px 0;">
                                                      <a href="http://lacamarasinalma.com" target="_blank" >
                                                        <img src="http://res.cloudinary.com/hncjxyyct/image/upload/v1490299398/newsletter/logo.png" style="" border="0" alt="La Cámara sin Alma" >
                                                      </a>
                                                    </td>
                                                    <td width="66%" valign="middle" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;text-align:right;padding-top:12px;vertical-align:middle">
                                                    </td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>
                                            <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#F7F7F7" style="width:600px;max-width:600px">
                                                <tbody>
                                                <tr>
                                                <td colspan="2" style="background:#fff;border-radius:8px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family:Helvetica neue,Helvetica,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0" align="">  
                                                                <h1 style="color:#000;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                                                    !Hola¡ 
                                                                    <strong style="color:#bd1550;"><%=email%></strong>
                                                                </h1>  
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background-color:#fafafa;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0" align="">
                                                                <h2 style="color:#000;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                                                    Recibimos una solicitud de cambio de contraseña
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background:#e4e5e6;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px" >
                                                                <h3 style="color:#000;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                                                    Para confirmar tu nueva contraseña haz click en el siguiente enlace: 
                                                                </h3>
                                                                <div style="color:#000;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500;margin-top:20px">
                                                                    <a href="<%=link%>" style="box-shadow:none;background-color:#bd1550;border-color:#bd1550;text-decoration:none;color:#fff;padding: 10px 25px 10px 25px"  target="_blank">Recuperar!</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background:#e4e5e6;padding:0 40px">        
                                                                <table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="background-color:#bd1550;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background:#e4e5e6;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px" >
                                                                <div style="color:#000;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                                                   Ten en cuenta que este enlace estará activo durante 1 hora desde el momento de su recepción. Una vez que este límite de tiempo finalice, no funcionará y deberás enviar la solicitud de cambio de contraseña.
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background:#e4e5e6;padding:0 40px">        
                                                                <table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="background-color:#bd1550 ;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;background-color:#e4e5e6" >
                                                                <h2 style="color:#000;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;">
                                                                   Si aún tienes problemas
                                                                </h2>    
                                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                    <tr width="100%">
                                                                        <td width="100%">
                                                                            <div style="color:#000;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                                                                Si todavía tienes dificultades para recuperar tu contraseña, comunícate con un agente de asistencia al cliente a través de <a href="mailto:captura@lacamarasinalma.com?subject=Soporte recuperar contraseña" style="text-decoration:none;color:#bd1550;font-weight:normal" target="_blank">captura@lacamarasinalma.com</a> 
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:0 0 6px 6px" > 
                                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                                                     *** NO RESPONDER - Este Mensaje Es Generado Automáticamente ***
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;max-width:600px;font-family:Helvetica,Arial,sans-serif">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-top:24px">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:12px 20px" >
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:24px 0;text-align:center" >
                                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px">        
                                                            <span>
                                                                Este mensaje de correo electrónico se envió a 
                                                                <a style="text-decoration:none;color:#bd1550;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif" href="mailto:<%=email%>" target="_blank"><%=email %></a>
                                                            </span>
                                                        </div>
                                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300">
                                                          Copyright © 2017 La Cámara sin Alma. Todos los derechos reservados.
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>