.line-title{
	position: relative;
    text-align: center;
    padding: 20px 0px 20px;
}
.second-title{
	/*padding-top:0;*/
}
.size-text{
    font-size: 3.5rem !important;
}

.line-custom{
    width: 2rem;
    height: 1px;
    background: #fff;
    display: inline-block;
}

.lineCustom{
    width: 2rem;
    height: 1px;
    background: #ccc;
    display: inline-block;
}

.card-custom{
    background: #fff
}

@media (max-width: 768px){
    .size-text {
        font-size: 2.2rem !important;
    }

    .custom-padding{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .display-1{
        font-size: 2.8rem !important;
    }

    .display-2{
        font-size: 2.8rem !important;
    }
}
