  <div class="loading"[hidden]="!load">
    <div class="loading-center">
      <div class="loading-center-absolute">
        <div class="object object_four"></div>
        <div class="object object_three"></div>
        <div class="object object_two"></div>
        <div class="object object_one"></div>
      </div>
    </div>
  </div>
<app-slide></app-slide>
  <div class="container-fluid bg-dr-blue">
    <div class="row no-padd" >
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="line-title">
          <p class="color-white" style="font-weight: 300">Llevamos a tu casa los siguientes planes que mas te gusten! <a routerLink="subscription/plan">SUSCRÍBETE</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- ICON-BLOCK -->
  <div class="main-wraper bg-white padd-90">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="second-title" style="padding-top: 50px;">
            <img src="assets/imgs/logo.png" alt="Flor florfresca">
            <br>
            <!-- <h4 class="subtitle color-blue-2 underline">our services</h4> -->
            <h4>Seleccionamos las flores más lindas y frescas<br> de nuestro cultivo, pensando en tí</h4>
          </div>
        </div>
      </div>   
      <div class="row">
        <div class="icon-block-entry col-xs-12 col-sm-6 col-md-4 clear-sm-2 clear-md-4">
          <div class="icon-block style-5">
            <img class="icon-img" src="assets/imgs/icons/inner-icon-1.png" alt="">
            <h5 class="icon-title color-green">Busca tu plan favorito</h5>
            <div class="icon-text color-dark-2-light">Tenemos 4 planes de  suscripción con diferentes tipos de flores</div>
          </div>        
        </div>
        <div class="icon-block-entry col-xs-12 col-sm-6 col-md-4 cclear-sm-2 clear-md-4">
          <div class="icon-block style-5">
            <img class="icon-img" src="assets/imgs/icons/inner-icon-2.png" alt="">
            <h5 class="icon-title color-green">Escoge tu día</h5>
            <div class="icon-text color-dark-2-light">Selecciona cuantas veces a la semana y que días quieres tus flores</div>
          </div>        
        </div>
        <div class="icon-block-entry col-xs-12 col-sm-6 col-md-4 clear-sm-2 clear-md-4">
          <div class="icon-block style-5">
            <img class="icon-img" src="assets/imgs/icons/inner-icon-3.png" alt="">
            <h5 class="icon-title color-green">Te las llevamos gratis</h5>
            <div class="icon-text color-dark-2-light">Agrega tu dirección de envío y tus flores llegarán el día que seleccionaste</div>
          </div>        
        </div>                  
      </div>
      </div>
  </div>
  
  <div class="container-fluid">
  	 <div class="row no-padd">
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
 	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div>
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>FRESCAS DE CULTIVO</h3>
 	 	   	        <!-- <p>La más cuidadosa selección de tallos de rosas frescas de nuestro cultivo. </p> -->
 	 	   	        <a routerLink="/subscription" class="c-button bg-florfresca hv-transparent"><span>QUIERO SUSCRIBIRME</span></a>
			     </div>
  	 	     <img src="assets/imgs/item-frescas.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
  	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div>
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>ROSAS</h3>
 	 	   	        <!-- <p>La más cuidadosa selección de tallos de rosas frescas de nuestro cultivo.</p> -->
 	 	   	           <a routerLink="/subscription" class="c-button bg-florfresca hv-transparent"><span>QUIERO SUSCRIBIRME</span></a>
			   </div>
  	 	     <img src="assets/imgs/item-rosas.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 </div>
    <div class="row no-padd">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="item-block">
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <h3>CLÁSICAS</h3>
            <!-- <p>La más cuidadosa selección de tallos de rosas frescas de nuestro cultivo.</p> -->
            <a routerLink="/subscription" class="c-button bg-florfresca hv-transparent"><span>QUIERO SUSCRIBIRME</span></a>
          </div>
          <img src="assets/imgs/item-clasica.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="item-block">
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <h3>EXÓTICAS</h3>
            <!-- <p>La más cuidadosa selección de tallos de rosas frescas de nuestro cultivo. </p> -->
            <a routerLink="/subscription" class="c-button bg-florfresca hv-transparent "><span>QUIERO SUSCRIBIRME</span></a>
          </div>
          <img src="assets/imgs/item-exoticas.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="main-wraper bg-grey-2 padd-90">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="second-title">
            <h2 class="color-green">¿Qué necesitas saber?</h2>
          </div>
        </div>
      </div>
      <div class="row padd-90">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-block style-2 bg-white">
            <img class="icon-img bg-dr-blue border-grey-2" src="assets/imgs/icons/icon-block-1.png" alt="">
            <h5 class="icon-title color-green">¿Qué es una suscripcion con Florfresca? </h5>
            <div class="icon-text color-dark-2-light">¡Una suscripción con FlorFresca simplifica tu vida cuando deseas entregas múltiples para ti o para las personas que quieras! Puedes configurar FlorFresca para que llegue en un horario regular, por ejemplo, una vez al mes, quincenal o semanal.</div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-block style-2 bg-white">
            <img class="icon-img bg-dr-blue border-grey-2" src="assets/imgs/icons/icon-block-2.png" alt="">
            <h5 class="icon-title color-green">¿Qué significa nuestra politica de satisfaccion 100% garantizada?</h5>
            <div class="icon-text color-dark-2-light">Queremos asegurarnos que quedes 100% feliz con tu entrega de FlorFresca, si algo va mal, te invitamos a que nos cuentes, lo haremos mejor! </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-block style-2 bg-white">
            <img class="icon-img bg-dr-blue border-grey-2" src="assets/imgs/icons/icon-block-3.png" alt="">
            <h5 class="icon-title color-green">¿Cómo funciona nuestra politica de cancelación? </h5>
            <div class="icon-text color-dark-2-light">Puedes cancelar en cualquier momento, por cualquier razón, en solo unos pasos. Quisieramos que te quedaras, pero de no ser así, no haremos que la cancelación sea un tema tedioso para ti.</div>
          </div>
        </div>              
      </div>
    </div>
  </div>
  <div class="main-wraper">
      <div class="row no-padd">
        <div class="col-md-12 padd-120">
          <div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/bg-eventos.jpg)"></div>
          <div class="second-title">
            <h2 class="color-red">EVENTOS</h2>
            <h3 class="color-white">Pregunta por nuestra colección de arreglos para <br>meses de temporada</h3>
          </div>
          <div class="text-center">
            <a href="mailto:soporte@florfresca.com" class="c-button bg-florfresca hv-transparent"><span class="color-white">Más Info</span></a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row col-no-padd">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="photo-block hover-aqua">
              <div class="tour-layer delay-1"></div>
              <img src="assets/imgs/Estrictos_1.jpg" alt="">
                 <div class="vertical-align">
                    <div class="photo-title">
                      <!-- <h4 class="delay-1 color-yellow">ESTRICTOS<br>CONTROLES<br>DE CALIDAD</h4>
                      <h5 class="delay-1">Cumplimiento de buenas prácticas para el manejo sostenible del cultivo.</h5> -->
                    </div>
                 </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="photo-block hover-aqua">
              <div class="tour-layer delay-1"></div>
              <img src="assets/imgs/Estrictos_2.jpg" alt="">
                 <div class="vertical-align">
                    <div class="photo-title">
                      <!-- <h4 class="delay-1 "><span class="color-yellow">ESTRICTOS<br>CONTROLES<br>DE CALIDAD</span></h4>
                      <h5 class="delay-1">Cumplimiento de buenas prácticas para el manejo sostenible del cultivo.</h5> -->
                   </div>
                 </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="photo-block hover-aqua">
              <div class="tour-layer delay-1"></div>
              <img src="assets/imgs/Estrictos_3.jpg" alt="">
                 <div class="vertical-align">
                    <div class="photo-title">
                      <!-- <h4 class="delay-1 color-yellow">ESTRICTOS<br>CONTROLES<br>DE CALIDAD</h4>
                      <h5 class="delay-1">Cumplimiento de buenas prácticas para el manejo sostenible del cultivo.</h5> -->
                    </div>
                 </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="main-wraper bg-grey-2 padd-90">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 " style="margin-top: 90px;background-color: #fff" >
          <div class="f-soon-content">
            <div class="text-center">
              <img class="icon-img" height="60px" src="assets/imgs/icons/icon-flor2.png" alt="">
              <br>
            </div>
            <div class="f-soon-title color-dark-2">DONACIONES REALIZADAS</div>
            <div class="back-counter" data-finaldate="11 sep 2016">
              <span class="dolar" >$ </span>
              <div class="part-counter2">
                <div class="part-numbers days">0</div>
              </div>
              <div class="part-counter3">
                <div class="part-numbers hours">1</div>
              </div>
              <div class="part-counter2 hours-count">
                <div class="part-numbers hours">2</div>
              </div>
              <div class="part-counter2 hours-count">
                <div class="part-numbers hours">7</div>
              </div>
              <div class="part-counter3 hours-count">
                <div class="part-numbers hours">0</div>
              </div>
              <div class="part-counter2 minutes-count">
                <div class="part-numbers minutes">0</div>
              </div>
              <div class="part-counter2 minutes-count">
                <div class="part-numbers minutes">0</div>
              </div>
              <div class="part-counter3 minutes-count">
                <div class="part-numbers minutes">0</div>
              </div>
            </div>
            <div class="soon-contact clearfix">
              <h3 class="text-center" style="text-transform: unset;">Con cada suscripción ayudas a una fundación <br>local que trabaja por la calidad de vida de niños<br>que viven en condiciones de vulnerabilidad.
              </h3>                     
            </div>
            <div class="text-center">
              <a routerLink="/subscription" class="c-button bg-florfresca hv-transparent"><span class="color-white" style="padding: 0 10px">Suscríbete</span></a>
            </div> 
          </div>
        </div>
      </div>
      <div class="row" >
        <!-- <div class="top-baner arrows">
          <div class="swiper-container offers-slider" data-autoplay="5000" data-loop="1" data-speed="500" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="3" data-add-slides="3">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-val="0">
                <div class="offers-block radius-mask">
                  <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/item-inst-1.jpg)"></div>
                  </div>
                  <div class="tour-layer delay-1"></div>
                  <div class="vertical-bottom">
                    <p>Laura Prada</p>
                    <p>Los recomiendo totalmente y sin duda compraría de nuevo</p>
                  </div>
                </div> 
              </div>
              <div class="swiper-slide" data-val="0">
                <div class="offers-block radius-mask">
                  <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/item-inst-2.jpg)"></div>
                  </div>
                  <div class="tour-layer delay-1"></div>
                  <div class="vertical-bottom">
                    <p>Lauro hernandez</p>
                    <p>Excelente servicio, llego el producto que compre muy rápido, y en perfectas condiciones.</p>
                  </div>
                </div> 
              </div>
              <div class="swiper-slide" data-val="0">
                <div class="offers-block radius-mask">
                  <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(assets/imgs/item-inst-3.jpg)"></div>
                  </div>
                  <div class="tour-layer delay-1"></div>
                  <div class="vertical-bottom">
                    <p>Laura Prada</p>
                    <p>Muy cumplidos, me encantaron las flores que seleccionaron para mi plan.</p>
                  </div>
                </div> 
              </div>
            </div>
            <div class="pagination  poin-style-1 pagination-hidden"></div>
          </div>
          <div class="swiper-arrow-left offers-arrow"><span class="fa fa-angle-left"></span></div>
          <div class="swiper-arrow-right offers-arrow"><span class="fa fa-angle-right"></span></div>
        </div> -->
      </div>   
    </div>
  </div>