

<app-slide></app-slide>
  <div class="container-fluid">
  	 <div class="row no-padd">
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
 	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div>
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>Cruise tours</h3>
 	 	   	        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
 	 	   	           <a href="#" class="c-button small border-white"><span>view more</span></a>
			   </div>
  	 	     <img src="assets/img/home_2/item_img_1.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
  	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div>
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>around the world</h3>
 	 	   	        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
 	 	   	           <a href="#" class="c-button small border-white"><span>view more</span></a>
			   </div>
  	 	     <img src="assets/img/home_2/item_img_2.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 </div>
    <div class="row no-padd">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="item-block">
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <h3>Cruise tours</h3>
            <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
            <a href="#" class="c-button small border-white"><span>view more</span></a>
          </div>
          <img src="assets/img/home_2/item_img_1.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="item-block">
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <h3>around the world</h3>
            <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
            <a href="#" class="c-button small border-white"><span>view more</span></a>
          </div>
          <img src="assets/img/home_2/item_img_2.jpg" alt="">
        </div>
      </div>
    </div>

    <!-- Icons florfresca, steps to buy-->


    <!--ICON-BLOCK-->
    <div class="main-wraper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="second-title">
              <h4 class="subtitle color-dark-2-light">our tours</h4>
              <h2>why we are the best</h2>
              <p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="icon-block">
              <img class="icon-img" src="img/theme-1/c_icon_1.png" alt="">
              <h5 class="icon-title color-dark-2">happy clients</h5>
              <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
              <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="icon-block">
              <img class="icon-img" src="img/theme-1/c_icon_2.png" alt="">
              <h5 class="icon-title color-dark-2">amazing tour</h5>
              <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
              <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="icon-block">
              <img class="icon-img" src="img/theme-1/c_icon_3.png" alt="">
              <h5 class="icon-title color-dark-2">support cases</h5>
              <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
              <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <br>
            <br>
            <br>
          </div>
        </div>

      </div>
    </div>

    <!-- end steps -->

    <div class="row no-padd">
      <div class="col-md-12">
        <div class="clip">
          <div class="bg bg-bg-chrome" style="background-image:url(../../assets/img/home_2/item_img_2.jpg)">
          </div>
        </div>
        <div class="swiper-container testi-3" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="1" id="testi-slider-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testi-wrap">
                <div class="qq">
                  <img src="img/quote.png" alt="">
                </div>
                <p>Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit magna risus, fermentum at varius eu.</p>
                <h4><b>tomas linderman</b></h4>
              </div>
            </div>
          </div>
          <div class="pagination poin-style-1"></div>
        </div>

      </div>
    </div>




    <div class="row no-padd">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="item-block">
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <h3>Cruise tours</h3>
            <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
            <a href="#" class="c-button small border-white"><span>view more</span></a>
          </div>
          <img src="assets/img/home_2/item_img_2.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="item-block">
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <h3>around the world</h3>
            <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
            <a href="#" class="c-button small border-white"><span>view more</span></a>
          </div>
          <img src="assets/img/home_2/item_img_1.jpg" alt="">
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="item-block">
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <h3>Cruise tours</h3>
            <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
            <a href="#" class="c-button small border-white"><span>view more</span></a>
          </div>
          <img src="assets/img/home_2/item_img_2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>



<!-- Icons florfresca, what do you need to know section-->


<!--ICON-BLOCK-->
<div class="main-wraper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h4 class="subtitle color-dark-2-light">our tours</h4>
          <h2>why we are the best</h2>
          <p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="icon-block">
          <img class="icon-img" src="img/theme-1/c_icon_1.png" alt="">
          <h5 class="icon-title color-dark-2">happy clients</h5>
          <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
          <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="icon-block">
          <img class="icon-img" src="img/theme-1/c_icon_2.png" alt="">
          <h5 class="icon-title color-dark-2">amazing tour</h5>
          <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
          <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="icon-block">
          <img class="icon-img" src="img/theme-1/c_icon_3.png" alt="">
          <h5 class="icon-title color-dark-2">support cases</h5>
          <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
          <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end what do you need to know -->

<!-- Icons florfresca, Showing instagram api-->


<!--ICON-BLOCK-->
<div class="main-wraper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h4 class="subtitle color-dark-2-light">our tours</h4>
          <h2>why we are the best</h2>
          <p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="icon-block">
          <img class="icon-img" src="img/theme-1/c_icon_1.png" alt="">
          <h5 class="icon-title color-dark-2">happy clients</h5>
          <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
          <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="icon-block">
          <img class="icon-img" src="img/theme-1/c_icon_2.png" alt="">
          <h5 class="icon-title color-dark-2">amazing tour</h5>
          <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
          <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="icon-block">
          <img class="icon-img" src="img/theme-1/c_icon_3.png" alt="">
          <h5 class="icon-title color-dark-2">support cases</h5>
          <div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
          <a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <br>
        <br>
        <br>
      </div>
    </div>


  </div>
</div>




<!-- end steps -->


<!-- icon refers on diferent payment methods -->

<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="6">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="partner-entry">
        <a href="#"><img class="img-responsive" src="../../assets/home_7/partner_1.png" alt=""></a>
      </div>
    </div>
    <div class="swiper-slide text-center">
      <div class="partner-entry">
        <a href="#"><img class="img-responsive" src="../../assets/img/home_7/partner_2.png" alt=""></a>
      </div>
    </div>
    <div class="swiper-slide text-center">
      <div class="partner-entry">
        <a href="#"><img class="img-responsive" src="../../assets/img/home_7/partner_3.png" alt=""></a>
      </div>
    </div>
    <div class="swiper-slide text-center">
      <div class="partner-entry">
        <a href="#"><img class="img-responsive" src="../../assets/img/home_7/partner_4.png" alt=""></a>
      </div>
    </div>
    <div class="swiper-slide text-center">
      <div class="partner-entry">
        <a href="#"><img class="img-responsive" src="../../assets/img/home_7/partner_5.png" alt=""></a>
      </div>
    </div>
    <div class="swiper-slide text-center">
      <div class="partner-entry">
        <a href="#"><img class="img-responsive" src="../../assets/img/home_7/partner_6.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="pagination pagination-hidden"></div>
</div>

<!-- end payment list -->





