<app-navbar></app-navbar>

<app-slide></app-slide>  
  <div class="container-fluid">
  	 <div class="row no-padd">
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
 	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div> 
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>Cruise tours</h3>
 	 	   	        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
 	 	   	           <a href="#" class="c-button small border-white"><span>view more</span></a>
			   </div>
  	 	     <img src="assets/img/home_2/item_img_1.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
  	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div> 
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>around the world</h3>
 	 	   	        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
 	 	   	           <a href="#" class="c-button small border-white"><span>view more</span></a>
			   </div>
  	 	     <img src="assets/img/home_2/item_img_2.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 </div>
  	 <div class="row no-padd">
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
 	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div> 
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>Cruise tours</h3>
 	 	   	        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
 	 	   	           <a href="#" class="c-button small border-white"><span>view more</span></a>
			   </div>
  	 	     <img src="assets/img/home_2/item_img_2.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12">
  	 	   <div class="item-block">
	 	   	  <div class="tour-layer delay-1"></div> 
 	 	   	   <div class="vertical-align">
 	 	   	      <h3>around the world</h3>
 	 	   	        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
 	 	   	           <a href="#" class="c-button small border-white"><span>view more</span></a>
			   </div>
  	 	     <img src="assets/img/home_2/item_img_1.jpg" alt="">
  	 	   </div>
  	 	</div>
  	 </div>
    <div class="testimonials">
     <div class="row no-padd">
       <div class="col-md-12">
      	   <div class="clip">
			  <div class="bg bg-bg-chrome" style="background-image:url(img/home_2/item_img_12.jpg)">
			  </div>
		   </div>
       	   <div class="swiper-container testi-3" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="1" id="testi-slider-3">
			   <div class="swiper-wrapper">
				  <div class="swiper-slide">
				         <div class="testi-wrap">
				           <div class="qq">
				           	 <img src="img/quote.png" alt="">
				           </div>
				        	<p>Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit magna risus, fermentum at varius eu.</p>
				        	  <h4><b>tomas linderman</b></h4>
				         </div>
				  </div>
				  <div class="swiper-slide">
				         <div class="testi-wrap">
				           <div class="qq">
				           	 <img src="img/quote.png" alt="">
				           </div>
				        	<p>Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit magna risus, fermentum at varius eu.</p>
				        	  <h4><b>tomas linderman</b></h4>
				         </div>
				  </div>
				  <div class="swiper-slide">
				         <div class="testi-wrap">
				           <div class="qq">
				           	 <img src="img/quote.png" alt="">
				           </div>
				        	<p>Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit magna risus, fermentum at varius eu.</p>
				        	  <h4><b>tomas linderman</b></h4>
				         </div>
				  </div>
			   </div>
			   <div class="pagination poin-style-1"></div>
		   </div>

       </div>
	</div>
	</div> 
  </div>