<div class="detail-wrapper" style="margin-top: 100px">
	<div class="container">
       	<div class="row ">
       		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
       			<div class="detail-header style-3">
       				<h4 class="color-dark-2-light">&nbsp;</h4>
       				<h2 class="detail-title color-dark-2">Cuidados</h2>     				
       			</div>
       			<div class="detail-content">
       				<div class="detail-content-block">    									
						<h3>Cuidados Generales</h3>
						<p>Aquí encontrarás todo lo que necesitas saber para que tus flores se vean estupendas y duren más Sigue estos consejos y con poco esfuerzo domina el arte del cuidado de las flores.</p>
						<ul>
							<li>1. Llena tu florero o vaso con agua a temperatura ambiente.</li>
							<li>2. Con cuidado remueve las envolturas que protegen tus flores.</li>
							<li>3. Corta cada tallo diagonalmente, a 45 grados, antes de ponerlas en agua.</li>
							<li>4. Recorta las hojas que quedan debajo del agua, pueden crear bacterias que acorten el tiempo de vida de tus flores, coloca tu arreglo lejos de la luz solar directa, y de fuentes de frio o calor.</li>
							<li>5. Cambia el agua cada dos o tres días y remueve las hojas o pétalos que estén en el agua.</li>
						</ul>

						<h3>Como hacer alimento para flores desde tu casa</h3>
						<ul>
							<li>1.	Puedes añadir al agua una o dos gotas de cloro, otra opción es agregar dos o tres monedas. </li>
						</ul>
						
						<h3>Rosas</h3>
						<p>Debes cuidar tus rosas inmediatamente después de recibirlas. Tus rosas estarán muy sedientas y pueden caerse o parecer marchitas a su llegada. ¡Pero no te preocupes! Sigue los siguientes pasos para cuidar tus rosas como un florista profesional.</p>
						<ul>
							<li>1. Retire con cuidado la envoltura de tus rosas.</li>
							<li>2. Llena tu florero limpio con agua fresca, y agrega el alimento que viene con tu pedido o crea uno en la sección “como hacer alimento para flores desde tu casa” para evitar el crecimiento de bacterias y suministrar nutrientes adicionales. </li>
							<li>3. Retira las hojas que queden debajo de la línea de flotación.</li>
							<li>4.	Corta cada tallo en un ángulo de 45 grados aproximadamente. Asegúrate de no aplastar el tallo.</li>
							<li>5.	Inmediatamente después de cortar cada tallo, coloca las rosas en el agua preparada y déjelas por lo menos 12 horas para que se hidraten adecuadamente. ¡Tenga paciencia! Si después de 3-4 horas observas que alguna de las rosas todavía se están cayendo, es posible que se haya formado una burbuja de aire en el tallo. Simplemente vuelve a cortar el tallo afectado siguiendo las instrucciones anteriores.
</li>
							<li>6.	Para mantener tus rosas más frescas por más tiempo, cambie el agua cada 24 a 48 horas o tan pronto como el agua se vuelva turbia. Tenga en cuenta que el color del agua cambiará si sus rosas han sido teñidas. Simplemente cambie el agua como se indica arriba y asegúrese de que sus flores tengan suficiente agua. ¡Compruebe el nivel del agua con frecuencia, ya que sus rosas beberán una cantidad sustancial de agua a su llegada!
</li>
							<li>7.	Para mantener tus rosas frescas por más tiempo, cambia el agua cada 24 a 48 horas o tan pronto como el agua se ponga turbia. Simplemente cambia el agua como se indica arriba y asegúrate de que tus flores tengan suficiente agua. Comprueba el nivel del agua con frecuencia.
</li>
						</ul>
					</div> 					     			
				</div>			       			
       		</div>
       	</div>
	</div>
</div>