<div class="detail-wrapper" style="margin-top: 100px">
	<div class="container">
       	<div class="row ">
       		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
       			<div class="detail-header style-3">
       				<h4 class="color-dark-2-light">&nbsp;</h4>
       				<h2 class="detail-title color-dark-2">¿Por qué Flor fresca?</h2>     				
       			</div>
       			<div class="detail-content">
       				<div class="detail-content-block">    									
						
						<p>Florfresca comenzó como un proyecto para innovar la forma como se compran flores. Somos una alternativa que evita precios excesivos, tarifas ocultas y ventas adicionales innecesarias. En el 2018, lanzamos nuestro primer sitio web con un modelo único de flores seleccionadas con la mejor calidad y empacadas a mano por nuestro equipo y en donde cada compra beneficia a una fundación local.</p>
							
						<!-- <h5>interesting for you</h5> -->

						<p>Creamos momentos genuinos con nuestros clientes llevándoles lo mejor de nuestros cultivos a sus hogares o sitios de trabajo. Creamos conexiones honestas con nuestros proveedores en donde los empoderamos para verlos prosperar. </p>
						<p>Hoy, vendemos flores hechas a mano con entrega gratuita a Bogotá y esperamos llegar a las demás ciudades principales de Colombia para el 2020.</p>
						<p>Hacemos que el pedido a través de nuestro sitio web sea fácil al simplificar los pasos de tu compra y al ser transparentes con nuestros precios. No vendemos arreglos cursis con osos de peluche y globos. No tenemos cuotas escondidas. Simplemente flores increíbles!</p>
						<hr>
						<h3>Flores frescas</h3>
						<p>Nuestros tallos son cortados y arreglados para cada cliente. Todo proviene de nosotros, diseñado y entregado para garantizar niveles sin precedentes de control de calidad</p>					
						<p>Los ramos vienen envueltos en material reciclable. No tenemos adicionales tediosos como globos o peluches, simplemente flores. </p>
						<h3>Precios honestos</h3>
						<p>Nuestros ramos tienen precios simples. Comienzan a solo 30.000 pesos. No, cargos extras por servicio y envío. El precio que ves al principio es el precio que pagarás al final. No creemos en complementos engañosos. Creemos en lo justo y simple.</p>
						<h3>Envío gratis</h3>
						<p>No solo entregamos de forma gratuita, sino que lo entregamos a mano, con personas reales. Conoce a tu mensajero; es posible que lo veas con frecuencia y te traiga una sorpresa!</p>
						<h3>Donaciones locales</h3>
						<p>Creemos que como agentes de cambio debemos poner nuestro grano de arena para tener una mejor sociedad, es por eso que con cada compra nos ayudas a llevar donaciones a fundaciones locales. </p>
					</div> 					     			
				</div>			       			
       		</div>
       	</div>
	</div>
</div>